.mdc-select, .mdc-text-field{
    background-color: #F4F4F4;
    width: 90%;
}
.mdc-select{
    margin-top: 12px;
}
input.mdc-text-field__input{
    border-bottom-color:rgba(28, 59, 224, 0.5)
}

.pep-title{
    background: #8F7AE5;
    font-size: 20px;
    color: white;
    padding: 10px 16px;
}

#results-table *{
    font-size: 12px;
    text-align: center;
}
#row-buttons-results{
    margin-top: 60px;
    margin-bottom: 60px;
}
#row-buttons-actions{
    margin-top: 60px;
    margin-bottom: 96px;
}
#cancel{
    margin-left: 24px;
}
table thead{
    background-color:#F4F4F4;
    color:#005EB8;
}
table thead th {
    padding: 12px 0;
    font-weight: normal;
}
#hours-section{
    font-family: 'BBVA Web Light';
    float: right;
}
#acum-hours{
    margin-left: 8px;
    margin-right: 24px;
}
.sep{
    margin: 0 24px;
}
#save{
    margin-right: 24px;
}
#inc-hours{
}