.mdc-select, .mdc-text-field{
    background-color: #F4F4F4;
    width: 90%;
}
.mdc-select{
    margin-top: 12px;
}
div.mdc-text-field input.mdc-text-field__input{
    border-bottom-color:rgba(28, 59, 224, 0.5)
}

.detail-td{
    padding: 0 !important;
    border-width: 0 !important;
    background: #F4F4F4;
}

.detail-label{
    color: #005EB8;
}
.detail-label:not(:first-of-type){
    padding-left: 32px;
}

.dropdown a.dropdown-toggle{
    padding-left: 8px;
    padding-right: 8px;
}

tr.clickable{
    cursor: pointer;
}

tr.clickable[aria-expanded="true"] {  background-color: #d9efe0 !important;  }

td.detail-td tr td:first-of-type{
    padding-left: 5px;
}
td.detail-td tr td:last-of-type{
    padding-right: 5px;
}

.results-header{
    font-size : 22px;
    font-family: BBVA Web Book;
    background-color:#004582;
    color:#FFFFFF;
    padding: 4px 4px;
}
.results-title{
    font-size:20px;
    font-family:BBVA Web Book;
    background-color:#12a96a;
    color:#FFFFFF;
    padding: 4px 4px;
}

#results-table *{
    font-size: 12px;
    text-align: center;
}
#results-table thead tr{
    background-color:#F4F4F4;
    color:#005EB8;
}

.table > thead > tr > th {
    border-bottom: 1.2px solid #005EB8 !important;
}
#results-table thead th{
    padding: 12px 0;
    font-weight: normal;
}