<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GEFA</title>

  <!-- Main Styles -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/material-components-web.css">
  <link rel="stylesheet" type="text/css" href="/css/select.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui-base-theme-1.12.1.css">
</head>

<body>
  <header>
    <div class="row" id="top-bar">
      <div class="col-md-8">
        <p id="brand">
          <img src="/img/bbva-bancomer.svg" width="246">
        </p>
      </div>
      <div class="col-md-4 text-right" id="top-bar-user-info">
        <img src="/img/executive-icon.png" width="16">
        <span class="user-info">XMY6266 - Test User</span>
        <span style="padding:5px">I</span>
        <span class="user-info">
          <a href="javascript:;">
            Cerrar sesión
          </a>
        </span>
      </div>
    </div>
    <div class="row" id="top-bar-menu"></div>
    <div class="row" id="top-bar-submenu"></div>
  </header>
  <!-- fragment:: menu -->
  <div>
    <div class="col-md-12 text-center" style="margin:80px 0">
      <img src="/img/help-icon.png">
      <h2> 403</h2>
      <h3>Intenta con alguna opción de nuestro menu.</h3>
      <button href="/" class="btn btn-lg btn-primary">Ir al inicio</button>
    </div>
  </div>

  <footer class="footer">
    <img src="/img/bbva-bancomer.svg" height="16" class="pull-left">
    <span class="pull-right">© 2018 BBVA Bancomer, S.A., Institución de Banca Múltiple</span>
  </footer>
</body>

</html>
