<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" class="nojs html css_verticalspacer">

<head>
  <div th:replace="~{layout/mainHeader :: header ('')}"></div>
</head>

<body>
  <div class="clearfix borderbox" id="page">
    <!-- group -->
    <div class="clearfix grpelem" id="ppu123">
      <div th:replace="~{layout/mainHeader :: menu}"></div>
      <div class="clearfix colelem" id="pu27059">
        Some Title
      </div>
    </div>

    <div class="verticalspacer" data-offset-top="1637" data-content-above-spacer="1636" data-content-below-spacer="61" data-sizePolicy="fixed"
      data-pintopage="page_fixedLeft">
      Main Content
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>
  </div>
  <div th:replace="~{layout/footer :: footerScripts}"></div>
</body>

</html>