<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



    <div style="background-color:#072146; color:#FFFFFF; height: 40px; padding: 12px 16px;" th:fragment="FooterPrincipal">
        <img th:src="@{/img/bbva-bancomer.svg}" height="16" class="pull-left" >
        <span class="pull-right">© 2018 BBVA Bancomer, S.A., Institución de Banca Múltiple</span>
    </div>
</body>
</html>