<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>


</head>
<body>

<!--Header bar-->
<header th:fragment="cabeceraPrincipal">
    <script type="text/javascript">
        $(function () {
            var bottom = $("#bottom-pills");
           $("#busqueda-menu").click(function () {
               $("#top-nav .nav-pills li").css("color","white");
               $("#busqueda-menu").css("color","#f8cd51");
               bottom.html('');

               var options = "<li> <a href='/requirements'>Búsqueda de requerimiento</a></li> "+
               "<li> <a href='/components'>Búsqueda de componente</a></li> "+
               "<li> <a href='/requirements/add'>Alta de requerimiento</a></li> ";
               bottom.html(options);
           });

            $("#presupuesto-menu").click(function () {
                $("#top-nav .nav-pills li").css("color","white");
                $("#presupuesto-menu").css("color","#f8cd51");
                bottom.html('');

                var options = "<li> <a href=''>Seguimiento de Pago</a></li> "+
                    "<li> <a href=''>Seguimiento Corte de Facturación</a></li> "+
                    "<li> <a href=''>Alta de PEP</a></li> "+
                    "<li> <a href=''>Búsqueda de PEP</a></li> ";
                bottom.html(options);
            });
        });
    </script>

    <div class="row top-bar" style="margin-left: 0; margin-right: 0;">
        <div id="brand" class="col-xs-6 no-left-padding">
            <p> <img th:src="@{/img/bbva-bancomer.svg}" width="246">
                <span id="u144-3">I</span>
                Nueva Herramienta Gestora
            </p>
        </div>
        <div class="col-xs-6 no-right-padding">
            <ul class="nav nav-pills pull-right" style="margin-top: 7px;">
                <li class="username"><img th:src="@{/img/executive-icon.png}" width="16"></li>
                <li style="color: #f8cd51;" class="bold">M56251 - Alberto Mejía Colli</li>
                <li><span>I</span></li>
                <li style="color: #f8cd51;" class="bold">Cerrar sesión</li>
            </ul>
        </div>
    </div>
    <nav class="nav nav-bar" id="top-nav">
        <ul class="nav nav-pills">
            <li id="busqueda-menu">FÁBRICA</li>
            <li id="presupuesto-menu">PRESUPUESTO</li>
            <li>PRUEBAS</li>
            <li>ADMIN</li>
        </ul>
    </nav>
    <div class="row bottom-bar" style="margin-left: 0; margin-right: 0;">
        <nav class="nav nav-bar" id="bottom-nav">
            <ul class="list-inline" id="bottom-pills">
            </ul>
        </nav>
    </div>
</header>

</body>
</html>