@font-face {
    font-family: 'BBVA Web Book'; /*a name to be used later*/
    src: url('../fonts/BentonSansBBVA-Book.woff') format("woff"), /*URL to font*/
    url('../fonts/BentonSansBBVA-Book.eot') format('embedded-opentype'),
    url('../fonts/BentonSansBBVA-Book.ttf') format('truetype');
}
@font-face {
    font-family: 'BBVA Web Bold'; /*a name to be used later*/
    src: url('../fonts/BentonSansBBVA-Bold.woff') format("woff"), /*URL to font*/
    url('../fonts/BentonSansBBVA-Bold.eot') format('embedded-opentype'),
    url('../fonts/BentonSansBBVA-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'BBVA Web Light'; /*a name to be used later*/
    src: url('../fonts/BentonSansBBVA-Light.woff') format("woff"),
    url('../fonts/BentonSansBBVA-Light.eot') format("embedded-opentype"),
    url('../fonts/BentonSansBBVA-Light.ttf') format("truetype");
}
html {
    font-size: 100%; /*THIS IS FUNDAMENTAL FOR REMs TO WORK*/
}

