<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alta de PEP</title>


    <!-- Estilos -->
    <script type="text/javascript" th:src="@{../js/jquery-3.2.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

    <!--Script generales-->
    <link rel="stylesheet" type="text/css" th:href="@{../css/estilosGF.css}">


    <!--Scripts para campos de texto-->
    <link rel="stylesheet" type="text/css" th:href="@{../css/material-components-web.css}">
    <script type="text/javascript" th:src="@{../js/material-components-web.js}"></script>


    <!--Estilos para los combos-->
    <link rel="stylesheet" type="text/css" th:href="@{../css/select.css}">
    <script type="text/javascript" th:src="@{../js/ready.js}"></script>

    <!--Estilos para los calendarios-->
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap-datetimepicker.css}">
    <script type="text/javascript" th:src="@{../js/analytics.js}"></script>
    <script type="text/javascript" th:src="@{../js/moment-with-locales.js}"></script>
    <script type="text/javascript" th:src="@{../js/bootstrap-datetimepicker.js}"></script>

</head>
<style>
    #demo-wrapper {
        padding: 4px;
        padding-left: 0;
    }

    /* Hack to work around style-loader asynchronously loading styles. */
    /* Equivalent to using mdc-typography's subheading2, which is used in the sass file. */
    .mdc-select {
        font-family: Roboto, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: .04em;
    }

    .example {
        max-width: 400px;
        margin: 24px;
        padding: 24px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
</script>
<body>

<!--Encabezado que vive en otra ventana-->
<div th:replace="layout/header :: cabeceraPrincipal"></div>


<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12" align="center" style="font-size:30px; font-family:BBVA Web Book">Alta de PEP</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" align="center" style="font-size:20px; font-family:BBVA Web Book; background-color:#004582; color:#FFFFFF">Datos Generales</div>
    </div>
    <br>
    <form th:object="${budget}" th:action="@{/budget}" method="post">
        <table class="col-md-12" >
            <tr>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text" required pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="pep">
                        <label for="demo-input" class="mdc-text-field__label">PEP*</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text" required pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="nombre-pep">
                        <label for="demo-input" class="mdc-text-field__label">Nombre PEP*</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <!--input id="hidden-anio" type="text" pattern="[0-9]+" required value=""  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="anio-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Año*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li class="mdc-list-item" role="option" tabindex="0">
                                    2017
                                </li>
                                <li class="mdc-list-item" role="option" tabindex="0">
                                    2018
                                </li>
                                <li class="mdc-list-item" role="option" tabindex="0">
                                    2019
                                </li>
                                <li class="mdc-list-item" role="option" tabindex="0">
                                    2020
                                </li>

                            </ul>
                        </div>
                    </div-->
                    <div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text" required pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="">
                        <label for="demo-input" class="mdc-text-field__label">Año*</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4" align="center">
                    <input id="hidden-area" type="text" pattern="[0-9]+" required value="" th:field="*{area.areaId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="area-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Area</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-banca" type="text" pattern="[0-9]+" required value=""  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="Banca-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Banca*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-responsableDot" type="text" pattern="[0-9]+" required value="" th:field="*{userReceiver.userId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="responsableDot-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Responsable Dotación*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="users:${users}" class="mdc-list-item" th:id="${users.userId}" role="option" th:text="${users.userInternalId}"></li>
                            </ul>
                        </div>
                    </div>
                    <!--div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text" required pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="Responsable_Dota">
                        <label for="demo-input" class="mdc-text-field__label">Responsable Dotación*</label>
                    </div-->
                </td>
            </tr>
            <tr>
                <td class="col-md-4" align="center">
                    <input id="hidden-solicitante" type="text" pattern="[0-9]+" required value="" th:field="*{userSender.userId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="solicitante-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Solicitante*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="users:${users}" class="mdc-list-item" th:id="${users.userId}" role="option" th:text="${users.userInternalId}"></li>
                            </ul>
                        </div>
                    </div>
                    <!--div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text" required pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" class="mdc-text-field__input" id="solicitante">
                        <label for="demo-input" class="mdc-text-field__label">Solicitante*</label>
                    </div-->
                </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-estado" type="text" pattern="[0-9]+" value=""  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="estado-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Entidad</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-ig" type="text" value="" pattern="[0-9]+" required  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="I/G-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">I/G*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="height:72px">
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text" required pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" class="mdc-text-field__input" id="cr">
                        <label for="demo-input" class="mdc-text-field__label">CR*</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                </td>
                <td class="col-md-4" align="center">
                </td>
            </tr>
        </table>
        <br>
        <div class="row" style="height:72px">
            <br>
            <div class="col-md-12" align="center" style="font-size:20px; font-family:BBVA Web Book; background-color:#004582; color:#FFFFFF">Transpaso</div>
        </div>
        <br>
        <table class="col-md-12" style="height:72px" >
            <tr>

                <td class="col-md-4" align="center">

                    <div class="dog1">
                        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type='text' class="mdc-text-field__input"  row="2" id='datetimepicker4' />
                            <label for="demo-input" class="mdc-text-field__label">Fecha de Traspaso</label>
                        </div>
                    </div>

                </td>
                <td class="col-md-4" align="center">

                </td>
                <td class="col-md-4" align="center">

                </td>
            </tr>
            <tr style="height:72px">
                <td class="col-md-4" align="center">
                    <input id="hidden-direccion" type="text" pattern="[0-9]+" required value=""  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="Direccion-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Direccion*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text" required pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" class="mdc-text-field__input" id="">
                        <label for="demo-input" class="mdc-text-field__label">Director*</label>
                    </div>
                    <!--input id="hidden-director" type="text" pattern="[0-9]+" required value=""  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="Director-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Director*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li class="mdc-list-item" role="option" tabindex="0">
                                    Director 1
                                </li>
                                <li class="mdc-list-item" role="option" aria-disabled="true" tabindex="0">
                                    Director 2
                                </li>
                                <li class="mdc-list-item" role="option" tabindex="0">
                                    Director 3
                                </li>
                                <li class="mdc-list-item" role="option" tabindex="0">
                                    Director 4
                                </li>

                            </ul>
                        </div>
                    </div-->
                </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-grupo" type="text" pattern="[0-9]+" required value=""  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="Grupo-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Grupo*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="height:72px">
                <td class="col-md-4" align="center">
                    <input id="hidden-respArea" type="text" pattern="[0-9]+"  value=""  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="RespArea-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Resp. de Area</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="users:${users}" class="mdc-list-item" th:id="${users.userId}" role="option" th:text="${users.userInternalId}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-respDyd" type="text" pattern="[0-9]+"  value=""  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="RespDyD-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Resp. DyD</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="users:${users}" class="mdc-list-item" th:id="${users.userId}" role="option" th:text="${users.userInternalId}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-ig2" type="text" value="" pattern="[0-9]+" required  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="I/G-js-select2" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">I/G*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="users:${users}" class="mdc-list-item" th:id="${users.userId}" role="option" th:text="${users.userInternalId}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <br>
        <br>

        <table class="col-md-12" align="center" >
            <tr style="height:72px">
                <td align="center" >
                    <div class="mdc-text-field" row="4" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:95%">
                        <input type="text"  class="mdc-text-field__input" row="4" id="comentarios">
                        <label for="demo-input" row="4" class="mdc-text-field__label">Comentarios</label>
                    </div>
                </td>

            </tr>
        </table>

        <table class="col-md-12" align="center" style="height:72px" >
            <tr>
                <td class="col-md-4" align="center">
                </td>
                <td class="col-md-4" align="center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-primary">Cancelar</button>
                </td>
                <td class="col-md-4" align="center">
                </td>
            </tr>
        </table>
    </form>

</div>

<!--Footer que debe ir en todas las ventanas-->
<div th:replace="layout/footer :: FooterPrincipal"></div>

</body>

<script>mdc.autoInit()</script>
<style rel="stylesheet">
    .mdc-text-field__input {
        border-bottom-color: rgba(15, 50, 242, 0.5);
    }
</style>

<script>
    demoReady(function() {
        mdc.select.MDCSelect.attachTo(document.getElementById('responsableDot-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('Banca-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('Area-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('solicitante-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('estado-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('I/G-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('Direccion-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('Grupo-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('RespArea-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('RespDyD-js-select'));

        mdc.select.MDCSelect.attachTo(document.getElementById('I/G-js-select2'));



    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootAnio = document.getElementById('anio-js-select');
        var hiddenAnio = document.getElementById('hidden-anio');
        var selectAnio = new mdc.select.MDCSelect(rootAnio);

        rootDir.addEventListener('MDCSelect:change', function() {
            hiddenAnio.value = selectAnio.value;
        });
    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootArea = document.getElementById('Area-js-select');
        var hiddenArea = document.getElementById('hidden-area');
        var selectArea = new mdc.select.MDCSelect(rootArea);

        rootArea.addEventListener('MDCSelect:change', function() {
            hiddenArea.value = selectArea.value;
        });
    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootBanca = document.getElementById('Banca-js-select');
        var hiddenBanca = document.getElementById('hidden-banca');
        var selectBanca = new mdc.select.MDCSelect(rootBanca);

        rootBanca.addEventListener('MDCSelect:change', function() {
            hiddenBanca.value = selectBanca.value;
        });
    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootEstado = document.getElementById('estado-js-select');
        var hiddenEstado = document.getElementById('hidden-estado');
        var selectEstado = new mdc.select.MDCSelect(rootEstado);

        rootEstado.addEventListener('MDCSelect:change', function() {
            hiddenEstado.value = selectEstado.value;
        });
    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootIg = document.getElementById('I/G-js-select');
        var hiddenIg = document.getElementById('hidden-ig');
        var selectIg = new mdc.select.MDCSelect(rootIg);

        rootIg.addEventListener('MDCSelect:change', function() {
            hiddenIg.value = selectIg.value;
        });
    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootDir = document.getElementById('Direccion-js-select');
        var hiddenDir = document.getElementById('hidden-direccion');
        var selectDir = new mdc.select.MDCSelect(rootDir);

        rootDir.addEventListener('MDCSelect:change', function() {
            hiddenDir.value = selectDir.value;
        });
    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootDire = document.getElementById('Director-js-select');
        var hiddenDire = document.getElementById('hidden-director');
        var selectDire = new mdc.select.MDCSelect(rootDire);

        rootDire.addEventListener('MDCSelect:change', function() {
            hiddenDire.value = selectDire.value;
        });
    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootGrupo = document.getElementById('Grupo-js-select');
        var hiddenGrupo = document.getElementById('hidden-grupo');
        var selectGrupo = new mdc.select.MDCSelect(rootGrupo);

        rootGrupo.addEventListener('MDCSelect:change', function() {
            hiddenGrupo.value = selectGrupo.value;
        });
    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootRA = document.getElementById('RespArea-js-select');
        var hiddenRA = document.getElementById('hidden-respArea');
        var selectRA = new mdc.select.MDCSelect(rootRA);

        rootRA.addEventListener('MDCSelect:change', function() {
            hiddenRA.value = selectRA.value;
        });
    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootDyd = document.getElementById('RespDyD-js-select');
        var hiddenDyd = document.getElementById('hidden-respDyd');
        var selectDyd = new mdc.select.MDCSelect(rootDyd);

        rootDyd.addEventListener('MDCSelect:change', function() {
            hiddenDyd.value = selectDyd.value;
        });
    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootIg2 = document.getElementById('I/G-js-select2');
        var hiddenIg2 = document.getElementById('hidden-ig2');
        var selectIg2 = new mdc.select.MDCSelect(rootIg2);

        rootIg2.addEventListener('MDCSelect:change', function() {
            hiddenIg2.value = selectIg2.value;
        });
    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootRespD = document.getElementById('responsableDot-js-select');
        var hiddenRespD = document.getElementById('hidden-responsableDot');
        var selectRespD = new mdc.select.MDCSelect(rootRespD);

        rootRespD.addEventListener('MDCSelect:change', function() {
            hiddenRespD.value = selectRespD.value;
        });
    });

    //Asignacion de combos a los hidden
    demoReady(function() {
        var rootSoli = document.getElementById('solicitante-js-select');
        var hiddenSoli = document.getElementById('hidden-solicitante');
        var selectSoli = new mdc.select.MDCSelect(rootSoli);

        rootSoli.addEventListener('MDCSelect:change', function() {
            hiddenSoli.value = selectSoli.value;
        });
    });



</script>

</html>