<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="~{layout/mainHeader :: head ('Busqueda de PEPs')}"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/presupuesto/busqueda-peps.css}">

<body>
<header th:replace="~{layout/mainHeader :: header }"></header>

<div class="container">
    <form style="display:block" action="#" th:action="@{/search}" onsubmit="holder('Buscando Traspasos')" method="post">
        <div class="row"><!-- HIDDEN FIELDS -->
            <input id="budgetId" type="hidden"/>
            <input id="budgetYear" type="hidden"/>
            <input id="budgetName" type="hidden"/>

            <input id="areaId" type="hidden"/>
            <input id="bankingId" type="hidden"/>
            <input id="userReceiverId" type="hidden"/>

            <input id="userSenderId" type="hidden"/>
            <input id="corporationId" type="hidden"/>
            <input id="natureId" type="hidden"/>

            <input id="budgetCostCenter" type="hidden"/>
            <input id="transferDateFrom" type="hidden"/>
            <input id="transferDateTo" type="hidden"/>


            <div class="col-md-12 text-center">
                <h2 class="h2-title-content">Búsqueda de PEP´s</h2>
            </div>

            <div class="row">
                <div class="col-md-12 subtitle-content">Criterios De Búsqueda</div>
            </div>

            <table class="col-md-12" style="table-layout: fixed;">
                <tr>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field" id="pep-mdc-text" data-mdc-auto-init="MDCTextField"
                             style="background-color:#F4F4F4; width:90%">
                            <input type="text" maxlength="45" class="mdc-text-field__input"
                                   style="border-bottom-color:rgba(28, 59, 224, 0.5)">
                            <label for="demo-input" class="mdc-text-field__label">PEP</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="year-js-select" class="mdc-select" role="listbox"
                             style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                <div class="mdc-select__label">Año</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3">
                                <ul class="mdc-list mdc-menu__items">
                                    <li th:each="budgetYears:${budgetYears}" class="mdc-list-item"
                                        th:id="${budgetYears}"
                                        role="option"
                                        th:text="${budgetYears}"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field" id="pep-name-mdc-text" data-mdc-auto-init="MDCTextField"
                             style="background-color:#F4F4F4; width:90%">
                            <input type="text" maxlength="45" class="mdc-text-field__input"
                                   style="border-bottom-color:rgba(28, 59, 224, 0.5)">
                            <label for="demo-input" class="mdc-text-field__label">Nombre PEP</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <div id="area-js-select" class="mdc-select" role="listbox"
                             style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                <div class="mdc-select__label">Área</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3">
                                <ul class="mdc-list mdc-menu__items">
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="banking-js-select" class="mdc-select" role="listbox"
                             style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                <div class="mdc-select__label">Banca</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3">
                                <ul class="mdc-list mdc-menu__items">
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="receiver-js-select" class="mdc-select" role="listbox"
                             style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                <div class="mdc-select__label">Responsable Dotación</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3">
                                <ul class="mdc-list mdc-menu__items">
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <div id="sender-js-select" class="mdc-select" role="listbox"
                             style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                <div class="mdc-select__label">Solicitante</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3">
                                <ul class="mdc-list mdc-menu__items">
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="corporation-js-select" class="mdc-select" role="listbox"
                             style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                <div class="mdc-select__label">Entidad</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3">
                                <ul class="mdc-list mdc-menu__items">
                                    <li th:each="corporations:${corporations}" class="mdc-list-item"
                                        th:id="${corporations.corporationId}"
                                        role="option"
                                        th:text="${corporations.corporationName}"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="nature-js-select" class="mdc-select" role="listbox"
                             style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                <div class="mdc-select__label">I/G</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3">
                                <ul class="mdc-list mdc-menu__items">
                                    <li th:each="natures:${natures}" class="mdc-list-item"
                                        th:id="${natures.natureId}"
                                        role="option"
                                        th:text="${natures.natureId}"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field" id="cr-mdc-text" data-mdc-auto-init="MDCTextField"
                             style="background-color:#F4F4F4; width:90%">
                            <input type="text" maxlength="45" class="mdc-text-field__input"
                                   style="border-bottom-color:rgba(28, 59, 224, 0.5)">
                            <label for="demo-input" class="mdc-text-field__label">CR</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field" id="antiquity-start-mdc-text" data-mdc-auto-init="MDCTextField"
                             style="background-color:#F4F4F4; width:90%">
                            <input type="text" maxlength="45" class="mdc-text-field__input"
                                   style="border-bottom-color:rgba(28, 59, 224, 0.5)">
                            <label for="demo-input" class="mdc-text-field__label">Inicio Fecha Antiguedad</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field" id="antiquity-final-mdc-text" data-mdc-auto-init="MDCTextField"
                             style="background-color:#F4F4F4; width:90%">
                            <input type="text" maxlength="45" class="mdc-text-field__input"
                                   style="border-bottom-color:rgba(28, 59, 224, 0.5)">
                            <label for="demo-input" class="mdc-text-field__label">Fin Fecha Antiguedad</label>
                        </div>
                    </td>
                    </tr-->
            </table>

            <table class="col-md-12 table-buttons" align="center">
                <tr>
                    <td class="col-md-4" align="center">

                    </td>
                    <td class="col-md-4" align="center">
                        <button type="button" id="btn-buscar" class="btn btn-primary">Buscar</button>
                        <button type="button" id="btn-limpiar" class="btn btn-primary">Limpiar</button>
                    </td>
                    <td class="col-md-4" align="center">

                    </td>
                </tr>
            </table>
        </div>
    </form>
    <div id="results" style="display: none;">
        <div class="row">
            <div class="col-md-12 subtitle-content">Resultados de Búsqueda</div>
        </div>
        <div class="row">
            <div class="col-md-12 second-subtitle-content">PEP's</div>
        </div>
        <div class="row">
            <table id="table-peps" class="col-md-12 table table-hover table-condensed">
                <thead>
                <tr>
                    <th style="width:30px;"></th>
                    <th style="width:12%;">PEP</th>
                    <th>Responsable</th>
                    <th>Antiguedad</th>
                    <th>Presupuesto MXN</th>
                    <th>Presup. MXN Final</th>
                    <th>Incurrido PBAS</th>
                    <th>Incurrido FSW</th>
                    <th>Total Incurrio</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <table class="col-md-12 table-buttons" align="center">
            <tr>
                <td class="col-md-1" align="center">

                </td>
                <td class="col-md-9" align="center">
                    <button type="button" id="btn-modificar" class="btn btn-primary">Modificar</button>
                    <button type="button" id="btn-eliminar" class="btn btn-primary">Eliminar</button>
                    <button type="button" id="btn-traspaso" class="btn btn-primary">Nuevo Traspaso</button>
                    <button type="button" id="btn-dispersion" class="btn btn-primary">Nueva Dispersi&oacute;n</button>
                </td>
                <td class="col-md-1" align="center">

                </td>
            </tr>
        </table>
    </div>
</div>

<footer th:replace="~{layout/footer2 :: footer }"></footer>

</body>

<div th:replace="~{layout/footer2 :: scripts }"></div>
<script type="text/javascript" th:src="@{../js/ready.js}"></script>
<script type="text/javascript" th:src="@{../js/fabrica/global.js}"></script>
<script type="text/javascript" th:src="@{../js/presupuesto/busqueda-peps.js}"></script>

<script>
    mdc.autoInit();
    demoReady(function () {
        init();
    });
</script>
</html>

</body>
</html>