<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="~{layout/mainHeader :: head ('Modificacion de PEP')}"></head>

<body>

<header th:replace="~{layout/mainHeader :: header }"></header>

<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="h2-title-content">Modificar PEP</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 subtitle-content">Datos Generales</div>
    </div>

    <form>
        <input type="hidden" maxlength="15" required pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" th:value="${transfer.transferId}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="transferId">
        <table class="col-md-12">
            <tr>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%" id="pepIdDiv">
                        <input type="text" class="mdc-text-field__input" th:field="*{transfer.budgetDb.budgetId}" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="pepId">
                        <label for="demo-input" class="mdc-text-field__label">PEP</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%" id="nomPepDiv">
                        <input type="text" maxlength="50" th:field="*{transfer.budgetDb.budgetName}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="nomPep">
                        <label for="demo-input" class="mdc-text-field__label">Nombre PEP</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%" id="divAnioPep">
                        <input type="text" class="mdc-text-field__input" th:field="*{transfer.budgetDb.budgetYear}" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="">
                        <label for="demo-input" class="mdc-text-field__label">Año</label>
                    </div>
                </td>
            </tr>
            <tr height="72px">
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%" id="areaAtencionPEPDiv">
                        <input type="text" maxlength="50" th:field="*{transfer.budgetDb.area.areaName}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="areaAtencionPEP">
                        <label for="demo-input" class="mdc-text-field__label">Área de Atención</label>
                    </div>


                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%" id="bancaPEPDiv">
                        <input type="text" maxlength="50" th:field="*{transfer.budgetDb.banking.bankingName}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="bancaPEP">
                        <label for="demo-input" class="mdc-text-field__label">Banca</label>
                    </div>


                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%" id="respDotPepDiv">
                        <input type="text" maxlength="50" th:field="*{transfer.budgetDb.userReceiver.userInternalId}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="respDotPep">
                        <label for="demo-input" class="mdc-text-field__label">Responsable Dotación</label>
                    </div>


                </td>
            </tr>
            <tr height="72px">
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%" id="solicPEPDiv">
                        <input type="text" maxlength="50" th:field="*{transfer.budgetDb.userSender.userInternalId}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="solicPEP">
                        <label for="demo-input" class="mdc-text-field__label">Solicitante</label>
                    </div>


                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%" id="entiPEPDiv">
                        <input type="text" maxlength="50" th:field="*{transfer.budgetDb.corporation.corporationName}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="entiPEP">
                        <label for="demo-input" class="mdc-text-field__label">Entidad</label>
                    </div>


                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%" id="iGPepDiv">
                        <input type="text" maxlength="50" th:field="*{transfer.budgetDb.nature.natureName}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="iGPep">
                        <label for="demo-input" class="mdc-text-field__label">I/G</label>
                    </div>


                </td>
            </tr>
            <tr style="height:72px">
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%" id="crPEPDiv">
                        <input type="text" th:field="*{transfer.budgetDb.budgetCostCenter}" class="mdc-text-field__input" id="crPEP">
                        <label for="demo-input" class="mdc-text-field__label">CR</label>
                    </div>

                </td>
                <td class="col-md-4" align="center">
                </td>
                <td class="col-md-4" align="center">
                </td>
            </tr>
        </table>
        <br>
        <br>

        <div class="row">
            <div class="col-md-12 subtitle-content">Traspaso</div>
        </div>

        <br>
        <table class="col-md-12" style="height:72px">
            <tr>

                <td class="col-md-4" align="center">

                    <div class="dog1">
                        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type='text' class="mdc-text-field__input" required th:field="*{transfer.transferDate}" value=""  row="2" id='fechaTranspaso' />
                            <label for="demo-input" class="mdc-text-field__label">Fecha de Traspaso*</label>
                        </div>
                    </div>

                </td>
                <td class="col-md-4" align="center">

                </td>
                <td class="col-md-4" align="center">

                </td>
            </tr>
            <tr style="height:72px">
                <td class="col-md-4" align="center">
                    <input id="hidden-direccion" type="text" value="" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="direccion-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Direccion</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="principals:${principals}" class="mdc-list-item" th:id="${principals.levelId}" role="option" th:text="${principals.levelName}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-director" type="text" value="" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="director-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Director</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="users:${users}" class="mdc-list-item" th:id="${users.userInternalId}" role="option" th:text="${users.userInternalId}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-grupo" type="text" required th:field="*{transfer.level.levelId}"  value="" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="grupo-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Grupo*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="height:72px">
                <td class="col-md-4" align="center">
                    <input id="hidden-respArea" type="text" value=""  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="respArea-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Resp. de Área</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="users:${users}" class="mdc-list-item" th:id="${users.userInternalId}" role="option" th:text="${users.userInternalId}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-respDyd" type="text" value="" required th:field="*{transfer.user.userInternalId}"  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="respDyD-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Resp. DyD*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="users:${users}" class="mdc-list-item" th:id="${users.userInternalId}" role="option" th:text="${users.userInternalId}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text" th:field="*{transfer.transferValue}" pattern="[0-9]+" maxlength="10" required onchange="asignMount(this.value);" value="" class="mdc-text-field__input" id="">
                        <label for="demo-input" class="mdc-text-field__label" >Presupuestado MXN*</label>
                    </div>
                </td>
            </tr>
        </table>

        <br>
        <br>

        <table class="col-md-12" align="center" >
            <tr style="height:72px">
                <td align="center">
                    <div class="mdc-text-field" row="4" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:95%">
                        <input type="text"  class="mdc-text-field__input" maxlength="200" row="4" th:field="*{transfer.transferComment}" value="" id="comentarios">
                        <label for="demo-input" row="4" class="mdc-text-field__label" >Comentarios</label>
                    </div>
                </td>

            </tr>
        </table>

        <table class="col-md-12" align="center" style="height:72px" >
            <tr>
                <td class="col-md-4" align="center">
                </td>
                <td class="col-md-4" align="center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-primary" onclick="funcionCancelar()">Cancelar</button>
                </td>
                <td class="col-md-4" align="center">
                </td>
            </tr>
        </table>

    </form>

</div>
<footer th:replace="~{layout/footer2 :: footer }"></footer>

</body>

<div th:replace="~{layout/footer2 :: scripts }"></div>
<script type="text/javascript" th:src="@{/js/fabrica/fn_ModificarPEP.js}"></script>

<script>
    mdc.autoInit();
    inicio();
</script>


</html>