<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="~{layout/mainHeader :: head ('Modificacion de PEP')}"></head>

<body>

<header th:replace="~{layout/mainHeader :: header }"></header>

<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="h2-title-content">Modificar PEP</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 subtitle-content">Datos Generales</div>
    </div>

    <form>

        <!--Valores que no estan en ventana

        <input type="hidden" maxlength="15" required pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" th:value="${transfer.transferId}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="transferId">
        -->
        <table class="col-md-12">
            <tr>
                <td class="col-md-4" align="center">
                    <div id="pepIdDiv-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text" maxlength="15" required th:field="*{transfer.budgetDb.budgetId}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="pep">
                        <label for="demo-input" class="mdc-text-field__label">PEP</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text" maxlength="50" required pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" th:field="*{transfer.budgetDb.budgetName}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="nombre-pep">
                        <label for="demo-input" class="mdc-text-field__label">Nombre PEP</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <!--div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%" id="divAnioPep">
                        <input type="text" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="anioPep">
                        <label for="demo-input" class="mdc-text-field__label">Año</label>
                    </div-->

                    <input id="hidden-anio" type="text" required value="" th:field="*{transfer.budgetDb.budgetYear}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="anio-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Año*</div>
                            <div class="mdc-select__selected-text" id="anio-anio-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items" id="anio-select">
                                <!--li class="mdc-list-item" role="option" tabindex="0"></li-->
                                <li th:each="budgetYears:${budgetYears}" class="mdc-list-item" th:id="${budgetYears}" role="option" th:text="${budgetYears}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr height="72px">
                <td class="col-md-4" align="center">
                    <input id="hidden-area" type="text" value="" required th:field="*{transfer.budgetDb.area.areaName}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="area-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Area*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                            </ul>
                        </div>
                    </div>

                </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-banca" type="text" required value="" th:field="*{transfer.budgetDb.banking.bankingName}"  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="banca-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Banca*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="bankingList:${bankingList}" class="mdc-list-item" th:id="${bankingList.bankingId}" role="option" th:text="${bankingList.bankingName}"></li>
                            </ul>
                        </div>
                    </div>


                </td>
                <td class="col-md-4" align="center">

                    <input id="hidden-responsableDot" type="text" value="" th:field="*{transfer.budgetDb.budgetsResponsible.budgetsResponsibleId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="responsableDot-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Responsable Dotación</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="users:${users}" class="mdc-list-item" th:id="${users.userInternalId}" role="option" th:text="${users.userInternalId}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr height="72px">
                <td class="col-md-4" align="center">
                 <input id="hidden-solicitante" type="text" required value="" th:field="*{transfer.budgetDb.budgetsApplicant.budgetsApplicantId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="solicitante-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Solicitante*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="users:${users}" class="mdc-list-item" th:id="${users.userInternalId}" role="option" th:text="${users.userInternalId}"></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-estado" type="text" required value="" th:field="*{transfer.budgetDb.corporation.corporationId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="estado-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Entidad*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="corporations:${corporations}" class="mdc-list-item" th:id="${corporations.corporationId}" role="option" th:text="${corporations.corporationName}"></li>
                            </ul>
                        </div>
                    </div>
                 </td>
                <td class="col-md-4" align="center">
                    <input id="hidden-ig" type="text" value="" required th:field="*{transfer.budgetDb.nature.natureId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                    <div id="ig-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">I/G*</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li th:each="natures:${natures}" class="mdc-list-item" th:id="${natures.natureId}" role="option" th:text="${natures.natureName}"></li>
                            </ul>
                        </div>
                    </div>

                </td>
            </tr>
            <tr style="height:72px">
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text" required maxlength="10" pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" th:field="*{transfer.budgetDb.budgetCostCenter}" class="mdc-text-field__input" id="cr">
                        <label for="demo-input" class="mdc-text-field__label">CR</label>
                    </div>

                </td>
                <td class="col-md-4" align="center">
                </td>
                <td class="col-md-4" align="center">
                </td>
            </tr>
        </table>
        <br>
        <br>

       <div class="row buttons">
            <div class="col-xs-12 text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-primary" id="cancelar-btn">Cancelar</button>
            </div>
        </div>
    </form>

</div>

<footer th:replace="~{layout/footer2 :: footer }"></footer>

</body>

<div th:replace="~{layout/footer2 :: scripts }"></div>
<script type="text/javascript" th:src="@{/js/fabrica/global.js}"></script>
<script type="text/javascript" th:src="@{/js/fabrica/fn_ModificarPEP.js}"></script>


<script>
    mdc.autoInit();
    init();
</script>

</html>