<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="~{layout/mainHeader :: head ('Seguimiento de Pago')}"></head>

<body>
  <header th:replace="~{layout/mainHeader :: header }"></header>
  <link rel="stylesheet" type="text/css" th:href="@{/css/presupuesto/seguimiento_pago.css}">

  <div class="container">



    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="h2-title-content">Seguimiento de Pago</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 subtitle-content">Criterios de Búsqueda</div>
    </div>
    <div class="row">

      <div class="col-xs-12">
        <form id="searchForm" name="searchForm" method="GET">
          <div class="row">
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc_text_solicitud">
                <input type="text" class="mdc-text-field__input" id="solicitud" maxlength="10">
                <label for="solicitud" class="mdc-text-field__label">Solicitud</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc_text_aceptacion">
                <input type="text" class="mdc-text-field__input" id="aceptacion" maxlength="10">
                <label for="aceptacion" class="mdc-text-field__label">Aceptación</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc_text_orden_compra">
                <input type="text" class="mdc-text-field__input" id="orden_compra" maxlength="10">
                <label for="orden_compra" class="mdc-text-field__label">Orden de Compra</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc_text_fecha_envio">
                <input type='text' class="mdc-text-field__input" id='fecha_envio' />
                <label for="fecha_envio" class="mdc-text-field__label">Fecha de Envio a Implant</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc_text_hoja_entrada">
                <input type="text" class="mdc-text-field__input" id="hoja_entrada" maxlength="10">
                <label for="hoja_entrada" class="mdc-text-field__label">Hoja de Entrada</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-select mdc-select--disabled" role="listbox" data-mdc-auto-init="MDCSelect" id="mdc_select_estado_pago">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Estado de Pago</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                  </ul>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc_text_fecha_desde">
                <input type="text" class="mdc-text-field__input" id="fecha_desde">
                <label for="fecha_desde" class="mdc-text-field__label">Fecha de Envio a Proveedor Del</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc_text_fecha_hasta">
                <input type="text" class="mdc-text-field__input" id="fecha_hasta">
                <label for="fecha_hasta" class="mdc-text-field__label">Fecha de Envio a Proveedor Hasta</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-select mdc-select--disabled" role="listbox" data-mdc-auto-init="MDCSelect" id="mdc_select_empresa">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Empresa</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="mdc-select mdc-select--disabled" role="listbox" data-mdc-auto-init="MDCSelect" id="mdc_select_tecnologia">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Tecnología</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-select mdc-select--disabled" role="listbox" data-mdc-auto-init="MDCSelect" id="mdc_select_area_atencion">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Área de Atención</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- field here -->
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- .// row -->

    <div class="row buttons">
      <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-primary" id="btn_submit">Buscar</button>
        <button type="button" class="btn btn-primary" id="btn_clear">Limpiar</button>
      </div>
    </div>
    <!-- .// row -->

    <div class="row" id="row-title-results" style="display: none">
      <div class="col-md-12 subtitle-content">Resultados de Búsqueda</div>
    </div>
    <!-- .// row -->

    <div class="row" id="row-content-results" style="display: none">
      <table class="table table-striped" style="font-size:12;">
        <thead>
          <tr>
            <th>Fecha de Corte</th>
            <th>Requerimeinto</th>
            <th>Dirección</th>
            <th>Subdirección</th>
            <th>Responsable</th>
            <th>Empresa</th>
            <th>Monto</th>
            <th>Alerta</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>dato 1</td>
            <td><select class="form-control"><option>Estado 1</option><option>Estado 2</option><option>Estado 3</option></select></td>
            <td></td>
          </tr>
          <tr>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>dato 2</td>
            <td><select class="form-control"><option>Estado 1</option><option>Estado 2</option><option>Estado 3</option></select></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- .// row -->

    <div class="row buttons" id="row-buttons-results" style="display: none">
      <div class="col-md-4 text-right">
        <button type="button" class="btn btn-warning" id="delete_request">Eliminar Solicitud</button>
      </div>
      <div class="col-md-4 text-right">
        <button type="button" class="btn btn-primary" id="btn_excel">Excel</button>
      </div>
    </div>
  </div>
  <!-- .// div.container -->

  <footer th:replace="~{layout/footer2 :: footer }"></footer>
</body>

<div th:replace="~{layout/footer2 :: scripts }"></div>
<script type="text/javascript" th:src="@{/js/presupuesto/seguimiento_pago.js}"></script>
<script>mdc.autoInit()</script>

</html>