<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="~{layout/mainHeader :: head ('Seguimiento Corte de Facturación')}"></head>

<body>
  <header th:replace="~{layout/mainHeader :: header }"></header>
  <link rel="stylesheet" type="text/css" th:href="@{/css/presupuesto/seguimiento_corte_facturacion.css}">

  <div class="container">



    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="h2-title-content">Seguimiento Corte de Facturación</h2>
      </div>
      <div class="col-md-2 text-center" style="padding-top:20px;">
        <button type="button" class="btn btn-success" id="btn_generate_break">Generar Corte</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 subtitle-content">Criterios de Búsqueda</div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form id="searchForm" name="searchForm" method="GET">
          <div class="row">
            <div class="col-md-4">
              <div class="mdc-select mdc-select--disabled" role="listbox" id="mdc_select_fecha_corte">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Fecha de Corte</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items"></ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" id="mdc_text_pep">
                <input type="text" class="mdc-text-field__input" id="pep" maxlength="15">
                <label for="pep" class="mdc-text-field__label">PEP</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" id="mdc_text_requerimiento">
                <input type="text" class="mdc-text-field__input" id="requerimiento" maxlength="120">
                <label for="requerimiento" class="mdc-text-field__label">Requerimiento</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="mdc-select mdc-select--disabled" role="listbox" id="mdc_select_direccion">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Dirección</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items"></ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-select mdc-select--disabled" role="listbox" id="mdc_select_subdireccion">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Subidrección</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items"></ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-select" role="listbox" id="mdc_select_estado_pep_factura">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Estado del PEP en Factura</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- // div.row -->

          <div class="row">
            <div class="col-md-4">
              <div class="mdc-select mdc-select--disabled" role="listbox" id="mdc_select_estado_pago">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Estado del Pago</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" id="mdc_text_fecha_desde">
                <input type="text" class="mdc-text-field__input" id="fecha_desde" readonly="readonly">
                <label for="fecha_desde" class="mdc-text-field__label">Fecha Del</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" id="mdc_text_fecha_hasta">
                <input type="text" class="mdc-text-field__input" id="fecha_hasta" readonly="readonly">
                <label for="fecha_hasta" class="mdc-text-field__label">Fecha Hasta</label>
              </div>
            </div>
          </div>
          <!-- // div.row -->

          <div class="row">
            <div class="col-md-4">
              <div class="mdc-select mdc-select--disabled" role="listbox" id="mdc_select_solicitante">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Solicitante</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-select mdc-select--disabled" role="listbox" id="mdc_select_fecha_envio_implant">
                  <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                    <div class="mdc-select__label">Fecha de Envio a Implant</div>
                    <div class="mdc-select__selected-text"></div>
                    <div class="mdc-select__bottom-line"></div>
                  </div>
                  <div class="mdc-menu mdc-select__menu">
                    <ul class="mdc-list mdc-menu__items"></ul>
                  </div>
                </div>
            </div>
          </div>
          <!-- // div.row -->
        </form>
      </div>
    </div>
    <!-- .// row -->

    <div class="row buttons">
      <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-primary" id="btn_search">Buscar</button>
        <button type="button" class="btn btn-primary" id="btn_clear">Limpiar</button>
      </div>
    </div>
    <!-- .// row -->

    <div class="row" id="row-title-results" style="display:none">
      <div class="col-md-12 subtitle-content">Resultados de Búsqueda</div>
    </div>
    <!-- .// row -->

    <div class="row" id="row-content-results" style="display:none">
      <table class="table table-striped" style="font-size:12;">
        <thead>
          <tr>
            <th>Fecha de Corte</th>
            <th>Requerimeinto</th>
            <th>Dirección</th>
            <th>Subdirección</th>
            <th>Responsable DYD</th>
            <th>Empresa</th>
            <th>Monto</th>
            <th>Alerta</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>dato 1</td>
            <td>
              <select class="form-control">
                <option>Estado1</option>
                <option>Estado2</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>dato 2</td>
            <td>
              <select class="form-control">
                <option>Estado1</option>
                <option>Estado2</option>
              </select>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- .// row -->

    <div class="row buttons" id="row-buttons-results" style="display:none">
      <div class="col-md-4 text-right">
        <button type="button" class="btn btn-warning" id="btn_import_request">Importar Solicitud</button>
      </div>
      <div class="col-md-4 text-right">
        <button type="button" class="btn btn-primary" id="btn_save">Guardar</button>
      </div>
    </div>
  </div>
  <!-- .// row -->
  <!-- .// div.container -->

  <footer th:replace="~{layout/footer2 :: footer }"></footer>
</body>

<div th:replace="~{layout/footer2 :: scripts }"></div>
<script type="text/javascript" th:src="@{/js/presupuesto/seguimiento_corte_facturacion.js}"></script>

</html>