<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="~{layout/mainHeader :: head ('Alta de Requerimientos')}"></head>

    <body>

    <header th:replace="~{layout/mainHeader :: header }"></header>

    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="h2-title-content">Alta de Requerimientos</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 subtitle-content">Datos Generales</div>
        </div>

        <form th:object="${requirement}" onsubmit="holder('Registrando Requerimiento')" th:action="@{/requirements}" method="post">

            <!--Aditional Fields-->
            <input type="hidden" value="" id="hoursRequerimentFinal"  th:field="*{requirementHour}">

            <div class="row">
                <table class="col-md-12" align="center">
                    <tr height="72px">
                        <td class="col-md-4" align="center">
                            <div id="nombre-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input type="text" maxlength="120" required pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" th:field="*{requirementName}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="demo-input">
                                <label for="demo-input" class="mdc-text-field__label">Nombre</label>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <input id="hidden-direccion" type="text" required value="" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="dirs" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                    <div class="mdc-select__label">Dirección*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3">
                                    <ul class="mdc-list mdc-menu__items">
                                        <li class="mdc-list-item" role="option" tabindex="0" th:each="dir : ${principals}"
                                            th:value="${dir.levelId}" th:text="${dir.levelName}">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <input id="hidden-subdireccion" type="text" required value="" th:field="*{level.levelId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="subdirs" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                    <div class="mdc-select__label">Subdirección*</div>
                                    <div class="mdc-select__selected-text" id="subdir-sel-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3">
                                    <ul class="mdc-list mdc-menu__items" id="subdir-select">
                                        <li class="mdc-list-item" role="option" tabindex="0"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="72px">
                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" id="subDirDiv" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input type="text" maxlength="110" id="subDir" class="mdc-text-field__input">
                                <label for="demo-input" class="mdc-text-field__label">Subdirector</label>
                            </div>

                        </td>
                        <td class="col-md-4" align="center">
                            <input id="hidden-responsable" type="text"   value="" required th:field="*{user.userInternalId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="responsable-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Responsable*</div>
                                    <div class="mdc-select__selected-text" id="subdir-users-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items" id="users-select">
                                        <li class="mdc-list-item" role="option" tabindex="0"></li>
                                        <!--li th:each="users:${users}" class="mdc-list-item" th:id="${users.userInternalId}" role="option" th:text="${users.userInternalId}"></li-->
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <input id="hidden-area" type="text" required value="" th:field="*{area.areaId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="area-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Área de Atención*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items" >
                                        <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="72px">
                        <td class="col-md-4" align="center">
                            <input id="hidden-gestor" type="text" required value="" th:field="*{userManager.userInternalId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="gestor-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Gestor*</div>
                                    <div class="mdc-select__selected-text" id="subdir-usersG-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items" id="usersG-select">
                                        <li class="mdc-list-item" role="option" tabindex="0"></li>
                                        <!--li th:each="users:${users}" class="mdc-list-item" th:id="${users.userInternalId}" role="option" th:text="${users.userInternalId}"></li-->
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <input id="hidden-tecnologia" type="text" required th:field="*{technology.technologyId}" value="" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="tecnologia-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Tecnología*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="technologies:${technologies}" class="mdc-list-item" th:id="${technologies.technologyId}" role="option" th:text="${technologies.technologyName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <input id="hidden-tipoProyecto" type="text" value="" required  style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="tipoProyecto-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Tipo de Proyecto*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="methodologies:${methodologies}" class="mdc-list-item" th:id="${methodologies.methodologyId}" role="option" th:text="${methodologies.methodologyName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="height:72px">
                        <td class="col-md-4" align="center">
                            <input id="hidden-aplicacion" type="text" required value="" th:field="*{application.applicationId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="aplicacion-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Aplicación*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="applications:${applications}" class="mdc-list-item" th:id="${applications.applicationId}" role="option" th:text="${applications.applicationName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <input id="hidden-canal" type="text" required value="" th:field="*{channel.channelId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="canal-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Canal*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="channels:${channels}" class="mdc-list-item" th:id="${channels.channelId}" role="option" th:text="${channels.channelName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <input id="hidden-empresa" type="text" required value="" th:field="*{company.companyId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="empresa-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Empresa*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="companies:${companies}" class="mdc-list-item" th:id="${companies.companyId}" role="option" th:text="${companies.companyName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="height:72px">
                        <td class="col-md-4" align="center">
                            <input id="hidden-servicio" type="text"  required value="" th:field="*{serviceType.serviceTypeId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="servicio-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Tipo de Servicio*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="serviceTypes:${serviceTypes}" class="mdc-list-item" th:id="${serviceTypes.serviceTypeId}" role="option" th:text="${serviceTypes.serviceTypeName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <input id="hidden-pi" type="text" value="" required th:field="*{programIncrement.programIncrementId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="pi-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Código PI*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="programIncrements:${programIncrements}" class="mdc-list-item" th:id="${programIncrements.programIncrementId}" role="option" th:text="${programIncrements.ProgramIncrementName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <input id="hidden-proy" type="text" value="" required style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;" th:field="*{project.projectId}">
                            <div id="proy-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Nombre del Proyecto*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="projects:${projects}" class="mdc-list-item" th:id="${projects.projectId}" role="option" th:text="${projects.projectId}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="72px">
                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input type="number" min="0" max="999999" th:field="*{requirementTotalHours}" onchange="asignHours();" class="mdc-text-field__input" id="hoursRequirement">
                                <label for="demo-input" class="mdc-text-field__label">Horas</label>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <input id="hidden-estado" type="text" value="" required th:field="*{status.statusId}" class="hiddenField">
                            <div id="estado-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Estado*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="statusListRequeriment:${statusListRequeriment}" class="mdc-list-item" th:id="${statusListRequeriment.statusId}" role="option" th:text="${statusListRequeriment.statusName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <input id="hidden-facturado" type="text" required value="" th:field="*{requirementBilled}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                            <div id="facturado-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Facturado*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li id="1" class="mdc-list-item" role="option" tabindex="0">
                                            Si
                                        </li>
                                        <li id="0" class="mdc-list-item" role="option" tabindex="0">
                                            No
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc-group-fecPropInic">
                                <!--input type="text" class="mdc-text-field__input " th:field="*{requirementStartDate}" id="datetimepicker1" /-->
                                <input type="text" class="mdc-text-field__input" name="fecPropInic" id="fecPropInic" th:field="*{requirementStartDate}" />
                                <label class="mdc-text-field__label">Fecha Prop.Inicial</label>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc-group-fecPropFin">
                                <input type="text" class="mdc-text-field__input" name="fecPropFin" id="fecPropFin" th:field="*{requirementEndDate}" />
                                <label class="mdc-text-field__label">Fecha Prop.Inicial</label>
                            </div>
                        </td>
                        <td class="col-md-4" align="center"></td>
                    </tr>
                </table>
            </div>
            <br>

            <div class="row buttons">
              <div class="col-xs-12 text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-primary" onclick="funcionCancelar();">Cancelar</button>
              </div>
            </div>
            <!-- .// row -->
        </form>
    </div>

    <footer th:replace="~{layout/footer2 :: footer }"></footer>

    </body>

    <div th:replace="~{layout/footer2 :: scripts }"></div>
    <script type="text/javascript" th:src="@{../js/fabrica/global.js}"></script>
    <script type="text/javascript" th:src="@{/js/fabrica/fn_AltaRequerimiento.js}"></script>

    <script>
        mdc.autoInit();
        init();
    </script>

</html>