<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <header th:replace="~{layout/mainHeader :: header }"></header>
    <!--Encabezado que vive en otra ventana-->
    <head th:replace="~{layout/mainHeader :: head ('Alta de Modificacion')}"></head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alta de Modificación</title>


    <!-- Estilos -->
    <script type="text/javascript" th:src="@{../js/jquery-3.2.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

    <!--Script generales-->
    <link rel="stylesheet" type="text/css" th:href="@{../css/estilosGF.css}">


    <!--Scripts para campos de texto-->
    <link rel="stylesheet" type="text/css" th:href="@{../css/material-components-web.css}">
    <script type="text/javascript" th:src="@{../js/material-components-web.js}"></script>


    <!--Estilos para los combos-->
    <link rel="stylesheet" type="text/css" th:href="@{../css/select.css}">
    <script type="text/javascript" th:src="@{../js/ready.js}"></script>

    <!--Estilos para los calendarios-->
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap-datetimepicker.css}">
    <script type="text/javascript" th:src="@{../js/analytics.js}"></script>
    <script type="text/javascript" th:src="@{../js/moment-with-locales.js}"></script>
    <script type="text/javascript" th:src="@{../js/bootstrap-datetimepicker.js}"></script>

</head>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
    $(function () {
        $('#datetimepicker5').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
    $(function () {
        $('#datetimepicker6').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
</script>

<body>

<head th:replace="~{layout/mainHeader :: head ('Alta de Modificacion')}"></head>

<form style="" action="#" th:object="${modification}" th:action="@{/modifications}" method="post">

    <div class="container">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="h2-title-content">Alta de Modificacion</h2>
                </div>
            </div>



            <!--<input type="hidden" th:field="*{modificationsId}">
            <input id="nombreDelComponente-js-hidden" type="text" th:field="*{doubt}" >
            <input id="direccion-js-hidden" type="text" th:field="*{doubt}" >
            <input id="subdireccion-js-hidden" type="text" th:field="*{doubt}" >
            <input id="version-js-hidden" type="text" th:field="*{doubt}" >
            <input id="requerimiento-js-hidden" type="text" th:field="*{doubt}" >
            <input id="tecnologia-js-hidden" type="text" th:field="*{doubt}" >
            <input id="tipologia-js-hidden" type="text" th:field="*{doubt}" >
            <input id="fechaAlta-js-hidden" type="text" th:field="*{doubt}" >
            <input id="dificultad-js-hidden" type="text" th:field="*{doubt}" >
            <input id="estado-js-hidden" type="text" th:field="*{doubt}" >
            <input id="tipologia-js-hidden" type="text" th:field="*{doubt}" >
            <input id="tipologia-js-hidden" type="text" th:field="*{doubt}" >

            <input type="submit" value="Guardar">-->




            <div class="row">
                <div class="col-md-12 subtitle-content">Datos Generales</div>
            </div>


            <table class="col-md-12" >
                <tr>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.componentName}" disabled class="mdc-text-field__input" id="nombre_componente">
                            <label for="demo-input" class="mdc-text-field__label">Nombre de Componente</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="direccion-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.requirement.level.levelName}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="demo-input">
                            <label for="demo-input" class="mdc-text-field__label">Direccion</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="subdireccion-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.requirement.level.levelName}" disabled  class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="demo-input">
                            <label for="demo-input" class="mdc-text-field__label">Subdireccion</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <div id="version-js-text" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.componentVersion}" disabled class="mdc-text-field__input" id="version">
                            <label for="demo-input" class="mdc-text-field__label">Versión</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.requirement.requirementName}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="requerimiento">
                            <label for="demo-input" class="mdc-text-field__label">Requerimiento</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text"  th:value="${componentData.requirement.technology.technologyName}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="tecnologia">
                            <label for="demo-input" class="mdc-text-field__label">Tecnologia</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.typology.product.productName}" disabled class="mdc-text-field__input"  style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="tipologia">
                            <label for="demo-input" class="mdc-text-field__label">Tipologia</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.typology.typologySeverityHours}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="dificultad">
                            <label for="demo-input" class="mdc-text-field__label">Dificultad</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text"  th:value="${componentData.typology.status.statusName}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="estado">
                            <label for="demo-input" class="mdc-text-field__label">Estado</label>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="row">
                <div class="col-md-12 subtitle-content">Datos Modificacion</div>
            </div>

            <table class="col-md-12" >
                <tr>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.typology.product.productName}" disabled  class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="tipo_modificacion">
                            <label for="demo-input" class="mdc-text-field__label">Tipologia de la Modificacion</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="DifMod-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                <div class="mdc-select__label">Dificultad de Modificacion</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3" >
                                <ul class="mdc-list mdc-menu__items">
                                    <li class="mdc-list-item" role="option" tabindex="0">
                                        0
                                    </li>
                                    <li class="mdc-list-item" role="option" tabindex="0">
                                        1
                                    </li>
                                    <li class="mdc-list-item" role="option" tabindex="0">
                                        2
                                    </li>
                                    <li class="mdc-list-item" role="option" tabindex="0">
                                        3
                                    </li>
                                    <li class="mdc-list-item" role="option" tabindex="0">
                                        4
                                    </li>
                                    <li class="mdc-list-item" role="option" tabindex="0">
                                        F
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div class="mdc-text-field" id="hours-mdc-text" data-mdc-auto-init="MDCTextField"
                             style="background-color:#F4F4F4; width:90%">
                            <input type="text" readonly="readonly" class="mdc-text-field__input" id="horas">
                            <label for="demo-input" class="mdc-text-field__label">Horas</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <!--<input id="componentStartCost" type="text" required value="" class="hiddenField" th:field="*{componentStartCost}">-->
                          <div class="mdc-text-field" id="initial-cost-mdc-text" data-mdc-auto-init="MDCTextField"
                               style="background-color:#F4F4F4; width:90%">
                              <input type="text" readonly="readonly" class="mdc-text-field__input" id="costo">
                              <label for="demo-input" class="mdc-text-field__label">Costo</label>
                          </div>
                      </td>
                  </tr>
              </table>
              <table class="col-md-12" >
                  <tr style="height:72px">
                      <td class="col-md-4" align="center">
                          <div  id="descripcion-js-text" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:97%">
                              <input type="text" maxlength="1000" th:field="*{modificationDescription}"  pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" class="mdc-text-field__input" id="usuario-peticionario">
                              <label for="demo-input" class="mdc-text-field__label">Descripción</label>
                          </div>
                      </td>
                  </tr>
              </table>
              <table class="col-md-12" >
                  <tr style="height:72px">
                      <td class="col-md-4" align="center">
                          <input id="hidden-prioridad" type="text" value="" required th:field="*{priority.priorityId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                          <div id="prioridad-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                  <div class="mdc-select__label">Prioridad*</div>
                                  <div class="mdc-select__selected-text"></div>
                                  <div class="mdc-select__bottom-line"></div>
                              </div>
                              <div class="mdc-menu mdc-select__menu col-md-3" >
                                  <ul class="mdc-list mdc-menu__items">
                                      <li th:each="priorities:${priorities}" class="mdc-list-item" th:id="${priorities.priorityId}" role="option" th:text="${priorities.priorityName}"></li>
                                  </ul>
                              </div>
                          </div>
                      </td>
                      <td class="col-md-4" align="center">
                          <div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                              <input type="text" maxlength="120" pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" th:field="*{userSender.userInternalId}"  class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="usuario_peticionario">
                              <label for="demo-input" class="mdc-text-field__label">Usuario Peticionario</label>
                          </div>
                      </td>

                      <td class="col-md-4" align="center">

                          <!-- <input id="Origen-js-select2" type="text"  required value="" th:field="*{origins}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;" />-->
                        <div id="origen-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                <div class="mdc-select__label">Origen*</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3" >
                                <ul class="mdc-list mdc-menu__items">
                                    <li th:each="origins:${origins}" class="mdc-list-item" th:id="${origins.originId}"  role="option" th:text="${origins.originName}"></li>
                                </ul>
                            </div>
                        </div>


                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <div class="dog1">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input th:value="${componentPossibleDeliverDate}" type='text' class="mdc-text-field__input"  row="2" id='datetimepicker5' />
                                <label for="demo-input" class="mdc-text-field__label">F. Negociada Fact.>CGF software</label>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div class="dog1">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input th:value="${componentRealDeliverDate}" type='text' class="mdc-text-field__input"  row="2" id='datetimepicker6' />
                                <label for="demo-input" class="mdc-text-field__label">F. Real Fact.>CGF software</label>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div class="dog1">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input th:value="${modificationSendDate}" type='text' class="mdc-text-field__input"  row="2" id='datetimepicker4' />
                                <label for="demo-input" class="mdc-text-field__label">Fecha Envio</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <input id="hidden-estado" type="text" value="" required th:fiel="*{modificationOnTrack}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                        <div id="modvuelo-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                <div class="mdc-select__label">Modificacion en vuelo</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3" >
                                <ul class="mdc-list mdc-menu__items">
                                    <li class="mdc-list-item" th:id="si"  role="option" th:text="Si"></li>
                                    <li class="mdc-list-item" th:id="no"  role="option" th:text="No"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <input id="hidden-estado" type="text" value="" required th:fiel="*{modificationDoneDyd}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                        <div id="moddyd-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                <div class="mdc-select__label">Modificacion ya realizada por DyD</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3" >
                                <ul class="mdc-list mdc-menu__items">
                                    <li class="mdc-list-item" th:id="si"  role="option" th:text="Si"></li>
                                    <li class="mdc-list-item" th:id="no"  role="option" th:text="No"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>


        </div>
        <div class="row">

            </tr>
        </div>
        <br>
        <br>
        <div class="row">
            <table class="col-md-12" >
                <tr>
                    <div class="row buttons">
                        <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <button type="button" class="btn btn-primary" onclick="funcionCancelar()">Cancelar</button>
                        </div>
                    </div>
                    <!-- .// row -->
                </tr>
            </table>
        </div>

</form>
<br>
<br>

<!--Footer que debe ir en todas las ventanas-->
<div th:replace="layout/footer :: FooterPrincipal"></div>

</body>
<script>mdc.autoInit()</script>
<style rel="stylesheet">
    .mdc-text-field__input {
        border-bottom-color: rgba(242, 71, 119, 0.5);
    }
</style>
<script>
    demoReady(function() {
        mdc.select.MDCSelect.attachTo(document.getElementById('DifMod-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('prioridad-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('origen-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('modvuelo-js-select'));
        mdc.select.MDCSelect.attachTo(document.getElementById('moddyd-js-select'));
    });

    demoReady(function() {
        var rootEst = document.getElementById('prioridad-js-select');
        var hiddenEst = document.getElementById('hidden-prioridad');
        var selectEst = new mdc.select.MDCSelect(rootEst);

        rootEst.addEventListener('MDCSelect:change', function() {
            hiddenEst.value = selectEst.value;
        });
    });

    demoReady(function() {
        var rootEst = document.getElementById('origen-js-select');
        var hiddenEst = document.getElementById('hidden-origen');
        var selectEst = new mdc.select.MDCSelect(rootEst);

        rootEst.addEventListener('MDCSelect:change', function() {
            hiddenEst.value = selectEst.value;
        });
    });

    function holder(msg){
        HoldOn.open({
            theme: "sk-cube",
            content: '',
            message: msg,
            // backgroundColor: "#004582",
            backgroundColor: "#0c71ca",
            textColor: "white",
        });
    }
</script>


</html>