<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

    <header th:replace="~{layout/mainHeader :: header }"></header>
    <!--Encabezado que vive en otra ventana-->
    <head th:replace="~{layout/mainHeader :: head ('Alta de Modificacion')}">
        <style type="text/css">
            #hidden-modificationStatus {
            }
        </style>
    </head>


<body>


<form style="" action="#" th:object="${modification}" th:action="@{/modifications}" method="post" onsubmit="holder('Registrando Modificacion')">

    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="h2-title-content">Alta de Modificación</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 subtitle-content">Datos Generales</div>
            </div>


            <table class="col-md-12" >
                <tr>
                    <td class="col-md-4" align="center">
                        <div id="nombre-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.componentName}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="nombre_componente">
                            <label for="demo-input" class="mdc-text-field__label">Nombre de Componente</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">,
                        <div id="direccion-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.requirement.level.levelName}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="direccion">
                            <label for="demo-input" class="mdc-text-field__label">Dirección</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="subdireccion-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.requirement.level.levelName}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="demo-input">
                            <label for="demo-input" class="mdc-text-field__label">Subdirección</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <div id="version-js-text" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.componentVersion}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)"  id="version">
                            <label for="demo-input" class="mdc-text-field__label">Versión</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="requerimiento-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.requirement.requirementName}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="requerimiento">
                            <label for="demo-input" class="mdc-text-field__label">Requerimiento</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="tecnologia-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text"  th:value="${componentData.requirement.technology.technologyName}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="tecnologia">
                            <label for="demo-input" class="mdc-text-field__label">Tecnología</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <div id="tipologia-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.startTypology.product.productName}" disabled class="mdc-text-field__input"  style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="tipologia">
                            <label for="demo-input" class="mdc-text-field__label">Tipología</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="dificultad-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" th:value="${componentData.startTypology.typologySeverity}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="dificultad">
                            <label for="demo-input" class="mdc-text-field__label">Dificultad</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="estado-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text"  th:value="${componentData.startTypology.status.statusName}" disabled class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="estado">
                            <label for="demo-input" class="mdc-text-field__label">Estado</label>
                        </div>
                    </td>
                </tr>
            </table>

            <input id="hidden-envcomponente" type="hidden" th:value="${componentData.componentId}" >
            <input id="hidden-comp" type="hidden"  th:field="*{component.componentId}" >

            <input id="hidden-startTypology" type="hidden"  th:value="${componentData.startTypology.typologyId}" >
            <input id="hidden-finalTypology" type="hidden"  th:value="${componentData.startTypology.typologyId}" >

            <input id="hidden-startTyp" type="hidden"  th:field="*{startTypology.typologyId}" >
            <input id="hidden-finalTyp" type="hidden"  th:field="*{finalTypology.typologyId}" >
            <!--Campos Faltantes-->
            <input id="hidden-modificationStatus" type="hidden"  th:field="*{modificationStatus.statusId}">
            <input id="hidden-status" type="hidden"  th:field="*{status.statusId}">
            <!--<input id="hidden-endDate" type="text"  >-->
            <!--<input id="hidden-senddate" type="text"  th:field="*{modificationSendDate}">-->
            <input id="hidden-fact" type="hidden"  th:value="S" th:field="*{modificationInvoiced}">
            <input id="hidden-vuelo" type="hidden" th:value="Si" th:field="*{modificationOnTrack}">
            <input id="hidden-userre" type="hidden"  th:field="*{userReceiver}">
            <!--<input id="hidden-userr" type="hidden"  th:value="${componentData.userReceiver.userInternalId}">-->



            <div class="row">
                <div class="col-md-12 subtitle-content">Datos Modificación</div>
            </div>
            <div class="row">
            <table class="col-md-12" >
                <tr>
                    <td class="col-md-4" align="center">
                        <div id="tipmodificacion-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input  id="tipology-modification" type="text" th:value="${componentData.startTypology.product.productName}" disabled  class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)">
                            <label for="demo-input" class="mdc-text-field__label">Tipologia de la Modificación</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <input id="typology" type="text" value="" class="hiddenField"
                               th:field="*{startTypology.typologyId}">
                        <div id="dificultad-js-select" class="mdc-select" role="listbox"
                             style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                <div class="mdc-select__label">Dificultad de la Modificación*</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3">
                                <ul class="mdc-list mdc-menu__items">
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="hours-div" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="number" min="0" step="0.01" max="999999" th:value="${componentData.startTypology.typologySeverityHours}" class="mdc-text-field__input" id="hours">
                            <label for="demo-input" class="mdc-text-field__label">Horas</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <div id="costo-div" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="number" min="0.00" step="0.01" max="999999" th:value="${componentData.componentStartCost}" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="costo">
                            <label for="demo-input" class="mdc-text-field__label">Costo</label>
                        </div>
                    </td>
                  </tr>
              </table>
              <table class="col-md-12" >
                  <tr style="height:72px">
                      <td class="col-md-4" align="center">
                          <div  id="descripcion-js-text" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:97%">
                              <input type="text" maxlength="130"  th:field="*{modificationDescription}"  pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" class="mdc-text-field__input" id="usuario-peticionario">
                              <label for="demo-input" class="mdc-text-field__label">Descripción</label>
                          </div>
                      </td>
                  </tr>
              </table>
              <table class="col-md-12" >
                  <tr style="height:72px">
                      <td class="col-md-4" align="center">
                          <input id="hidden-prioridad" type="text" value="" required th:field="*{priority.priorityId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                          <div id="prioridad-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                  <div class="mdc-select__label">Prioridad*</div>
                                  <div class="mdc-select__selected-text" id="prioridad-sel-text"></div>
                                  <div class="mdc-select__bottom-line"></div>
                              </div>
                              <div class="mdc-menu mdc-select__menu col-md-3" >
                                  <ul class="mdc-list mdc-menu__items" id="prioridad-select">
                                      <li th:each="priorities:${priorities}" class="mdc-list-item" th:id="${priorities.priorityId}" role="option" th:text="${priorities.priorityName}"></li>
                                  </ul>
                              </div>
                          </div>
                      </td>
                      <td class="col-md-4" align="center">
                          <input id="hidden-responsable" type="text"  pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+"  th:field="*{userSender.userInternalId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                          <div id="Peticionario-js-text" class="mdc-select-disabled" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                              <input disabled="disabled" type="text"  class="mdc-text-field__input mdc-text-field" id="responsable">
                              <label for="demo-input" class="mdc-text-field__label">Usuario Peticionario</label>
                          </div>
                      </td>
                      <td class="col-md-4" align="center">
                          <input id="hidden-origen" type="text" value="" required th:field="*{origin.originId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                          <!-- <input id="Origen-js-select2" type="text"  required value="" th:field="*{origins}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;" />-->
                        <div id="origen-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                <div class="mdc-select__label">Origen*</div>
                                <div class="mdc-select__selected-text" id="origen-sel-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3" >
                                <ul class="mdc-list mdc-menu__items" id="origen-select">
                                    <li th:each="origins:${origins}" class="mdc-list-item" th:id="${origins.originId}"  role="option" th:text="${origins.originName}"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                  <tr>
                    <td class="col-md-4" align="center">
                        <div class="dog1">
                            <div id="mdc-fechaNeg" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input  th:field="*{modificationEndDate}" class="mdc-text-field__input" row="2" name="fechaNeg" id="fechaNeg" />
                                <label class="mdc-text-field__label mdc-text-field__label--float-above">F. Negociada Fact.>CGF Software</label>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div class="dog1">
                            <div id="mdc-fechaReal" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input  th:field="*{component.componentRealDeliverDate}" class="mdc-text-field__input"  row="2" name="fechaReal" id="fechaReal" />
                                <label class="mdc-text-field__label mdc-text-field__label--float-above">F. Real Fact.>CGF Software</label>
                            </div>
                        </div>
                    </td>
                      <td class="col-md-4" align="center">
                          <div class="dog1">
                              <input disabled="disabled" type='hidden' class="mdc-text-field__input"  row="2" id='datetimepicker' />
                              <div id="fechaEnvio-js-text" class="mdc-select-disabled" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                  <input disabled="disabled"   type='text' class="mdc-text-field__input mdc-text-field--disabled"  row="2" id='datetimepickerformat' />
                                  <label for="demo-input" class="mdc-text-field__label">Fecha Envio</label>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr style="height:72px">
                      <td class="col-md-4" align="center">
                          <div id="vuelo-js-text"  class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                              <input type="text"  disabled  value="Si" class="mdc-text-field__input"  style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="modificacionvuelo">
                              <label for="demo-input" class="mdc-text-field__label">Modificación en Vuelo</label>
                          </div>
                      </td>
                    <td class="col-md-4" align="center">
                        <input id="hidden-dyd" type="text" value="" name="modificationDoneDyd" th:field="*{modificationDoneDyd}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                        <div id="moddyd-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                            <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                <div class="mdc-select__label">Modificación ya Realizada por DyD</div>
                                <div class="mdc-select__selected-text"></div>
                                <div class="mdc-select__bottom-line"></div>
                            </div>
                            <div class="mdc-menu mdc-select__menu col-md-3" >
                                <ul class="mdc-list mdc-menu__items">
                                    <li class="mdc-list-item" th:id="1"  role="option" th:text="Si"></li>
                                    <li class="mdc-list-item" th:id="2"  role="option" th:text="No"></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                  </tr>
                  </table>
                  <!--<table class="col-md-12" >
                      <tr style="height:62px">
                          <td class="col-md-3" align="center">
                              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                  <input type="file" name="fileData" class="btn btn-primary" required  id="fileData" >
                              </div>
                          </td>
                          <td>

                          </td>
                          <td>

                          </td>
                      </tr>
                  </table>-->
            </div>
        <div class="row">

            </tr>
        </div>
        <br>
        <br>
        <div class="row">
            <table class="col-md-12" >
                <tr>
                    <div class="row buttons">
                        <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <button type="button" id="cancelar-btn" class="btn btn-primary">Cancelar</button>
                        </div>
                    </div>
                    <!-- .// row -->
                </tr>
            </table>
        </div>

</form>
<br>
<br>

<footer th:replace="~{layout/footer2 :: footer }"></footer>
</body>

<div th:replace="~{layout/footer2 :: scripts }"></div>
<script type="text/javascript" th:src="@{../js/fabrica/global.js}"></script>
<script type="text/javascript" th:src="@{../js/fabrica/fn_AltaModificar.js}"></script>


<script>mdc.autoInit();
init();
</script>


</html>