<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Alta de Requerimiento</title>


        <!-- Estilos -->
        <script type="text/javascript" th:src="@{../js/jquery-3.2.1.min.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
        <script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

        <!--Script generales-->
        <link rel="stylesheet" type="text/css" th:href="@{../css/estilosGF.css}">


        <!--Scripts para campos de texto-->
        <link rel="stylesheet" type="text/css" th:href="@{../css/material-components-web.css}">
        <script type="text/javascript" th:src="@{../js/material-components-web.js}"></script>


        <!--Estilos para los combos-->
        <link rel="stylesheet" type="text/css" th:href="@{../css/select.css}">
        <script type="text/javascript" th:src="@{../js/ready.js}"></script>

        <!--Funciones ventana-->
        <script type="text/javascript" th:src="@{../js/fabrica/fn_AltaRequerimiento.js}"></script>

    </head>

    <body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12" align="center" style="font-size:30px; font-family:BBVA Web Book">Alta de Requerimientos</div>
        </div>
        <br>
        <form style="display:block" action="#" th:action="@{/requerimiento/guardaReq}" th:object="${requirement}" method="post">

            <!--HIDDEN PARA PRUEBAS-->
            <!--input type="hidden" th:field="*{requirementId}" -->
            <input id="nombreTxt" type="hidden" th:field="*{requirementName}" >
            <input id="direccionCmb" type="hidden" th:field="*{level}" >
            <input id="tecnologiaCmb" type="hidden" th:field="*{technology}">
            <input id="nombre" type="hidden" th:field="*{company}" >
            <input id="nombre" type="hidden" th:field="*{area}">
            <!--input type="number" th:field="*{serviceType}"-->
            <input id="nombre" type="hidden" th:field="*{projectType}">
            <input id="nombre" type="hidden" th:field="*{user}" >
            <input id="nombre" type="hidden" th:field="*{userManager}" >
            <input id="nombre" type="hidden" th:field="*{status}">
            <input id="nombre"type="hidden" th:field="*{requirementBilled}">


            <input type="submit" value="Guardar">
        </form>


            <!--input type="number" th:field="*{cd_aplicacion}" value=9>
            <input type="number" th:field="*{cd_canal}" value=10>
            <input type="number" th:field="*{nu_hora_rec}" value=0>
            <input type="number" th:field="*{cd_scrum}" value=12>


            <input type="number" th:field="*{nu_hrs_tot}" value=16>
            <input type="number" th:field="*{nu_hrs_fact}" value=17>
            <input type="number" th:field="*{st_facturado}" value=18>
            <input type="text" th:field="*{tm_alta_rec}" value="valor19">
            <input type="number" th:field="*{nu_facturable}" value=20-->


            <div class="row">
                <div class="col-md-12" align="center" style="font-size:20px; font-family:BBVA Web Book; background-color:#004582; color:#FFFFFF">Datos Generales</div>
                <table class="col-md-12" >
                    <tr>
                        <td class="col-md-4" align="center">
                            <div id="nombre-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input type="text" maxlength="120" pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" required class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="demo-input">
                                <label for="demo-input" class="mdc-text-field__label">Nombre</label>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="direccion-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Direccion*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul  class="mdc-list mdc-menu__items">
                                        <li th:each="levelTypes:${levelTypes}" class="mdc-list-item" th:id="${levelTypes.levelTypeId}" role="option" th:text="${levelTypes.levelTypeName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="subdireccion-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Subdireccion*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="levels:${levels}" class="mdc-list-item" th:id="${levels.levelId}" role="option" th:text="${levels.levelName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input type="text" maxlength="110" pattern="[A-Za-z0-9]+"  class="mdc-text-field__input" id="demo-input">
                                <label for="demo-input" class="mdc-text-field__label">Subdirector</label>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input type="text" maxlength="110" pattern="[A-Za-z0-9]+" required  class="mdc-text-field__input" id="demo-input">
                                <label for="demo-input" class="mdc-text-field__label">Responsable</label>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="area-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Area de Atencion*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input type="text" maxlength="110" pattern="[A-Za-z0-9]+" required  class="mdc-text-field__input" id="demo-input">
                                <label for="demo-input" class="mdc-text-field__label">Gestor</label>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="tecnologia-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Tecnologia*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="technologies:${technologies}" class="mdc-list-item" th:id="${technologies.technologyId}" role="option" th:text="${technologies.technologyName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="tipoProyecto-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Tipo de proyecto</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="height:72px">
                        <td class="col-md-4" align="center">
                            <div id="aplicacion-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Aplicacion</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="canal-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Canal.</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="empresa-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Empresa*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="height:72px">
                        <td class="col-md-4" align="center">
                            <div id="servicio-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Tipo de Servicio</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="pi-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Codigo PI*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="proy-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Nombre del Proyecto*</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input type="number" maxlength="10" class="mdc-text-field__input" id="demo-input">
                                <label for="demo-input" class="mdc-text-field__label">Horas</label>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="estado-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Estado</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li th:each="areas:${areas}" class="mdc-list-item" th:id="${areas.areaId}" role="option" th:text="${areas.areaName}"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="facturado-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Facturado</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li class="mdc-list-item" role="option" tabindex="0">
                                            Si
                                        </li>
                                        <li class="mdc-list-item" role="option" tabindex="0">
                                            No
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="row">
                <table class="col-md-12" >
                    <tr>
                        <td class="col-md-6" align="center">
                            <button type="button" class="btn btn-primary">Guardar</button>
                            <button type="button" class="btn btn-primary">Cancelar</button>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

    </body>

    <script>mdc.autoInit()</script>
    <style rel="stylesheet">
        .mdc-text-field__input {
            border-bottom-color: rgba(15, 50, 242, 0.5);
        }
    </style>

    <script>
        demoReady(function() {
            mdc.select.MDCSelect.attachTo(document.getElementById('direccion-js-select'));
            mdc.select.MDCSelect.attachTo(document.getElementById('subdireccion-js-select'));
            mdc.select.MDCSelect.attachTo(document.getElementById('area-js-select'));
            mdc.select.MDCSelect.attachTo(document.getElementById('tecnologia-js-select'));
            mdc.select.MDCSelect.attachTo(document.getElementById('tipoProyecto-js-select'));
            mdc.select.MDCSelect.attachTo(document.getElementById('aplicacion-js-select'));
            mdc.select.MDCSelect.attachTo(document.getElementById('canal-js-select'));
            mdc.select.MDCSelect.attachTo(document.getElementById('empresa-js-select'));
            mdc.select.MDCSelect.attachTo(document.getElementById('servicio-js-select'));
            mdc.select.MDCSelect.attachTo(document.getElementById('pi-js-select'));
            mdc.select.MDCSelect.attachTo(document.getElementById('proy-js-select'));
            mdc.select.MDCSelect.attachTo(document.getElementById('estado-js-select'));
            mdc.select.MDCSelect.attachTo(document.getElementById('facturado-js-select'));
        });

        //Asignacion de combos a los hidden
        demoReady(function() {
            var rootTechnology = document.getElementById('tecnologia-js-select');
            var hiddenTechnology = document.getElementById('selected-technology');
            var selectTechnology = new mdc.select.MDCSelect(rootTechnology);

            rootTechnology.addEventListener('MDCSelect:change', function() {
                hiddenTechnology.value = selectTechnology.value;
            });
        });

        //Asignacion de campos de texto a los hidden
        demoReady(function() {
            var rootName = document.getElementById('nombre-js-text');
            var inputName = rootName.querySelector('input');
            var hiddenName = document.getElementById('selected-name');
            var textName = new mdc.textField.MDCTextField(rootName);

            inputName.addEventListener('keyup', function() {
                hiddenName.value = textName.value;
            });
            inputName.addEventListener('chage', function() {
                hiddenName.value = textName.value;
            });
            inputName.addEventListener('blur', function() {
                hiddenName.value = textName.value;
            });

        });
    </script>


</html>