<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>

    <head th:replace="~{layout/mainHeader :: head ('Asociar PEP')}"></head>

    <script type="text/javascript" th:src="@{/js/fabrica/asociar-pep.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fabrica/asociar-pep.css}">

    <script th:inline="javascript">
        /*<![CDATA[*/
        var requirementId = /*[[${requirementData.requirementId}]]*/  'dynamic';
        var requirementObj = /*[[${requirementData}]]*/  'dynamic';
        /*]]>*/
    </script>

</head>

<body>

<header th:replace="~{layout/mainHeader :: header }"></header>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="h2-title-content">Asociar PEP</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 subtitle-content" th:text="${requirementData.requirementName}">ODT1 Servicios Nacar</div>
        <table class="col-md-12">
            <tr>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input th:value="${requirementData.level.levelSuperior.levelName}"
                               class="mdc-text-field__input mdc-text-field--disabled">
                        <label class="mdc-text-field__label">Dirección</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input th:value="${requirementData.level.levelName}"
                               class="mdc-text-field__input mdc-text-field--disabled">
                        <label class="mdc-text-field__label">Subdirección</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input mdc-text-field--disabled">
                        <label class="mdc-text-field__label">Subdirector</label>
                    </div>
                </td>
            <tr style="height:72px">
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input th:value="${requirementData.user.userInternalId}"
                               class="mdc-text-field__input mdc-text-field--disabled">
                        <label class="mdc-text-field__label">Responsable</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input th:value="${requirementData.area.areaName}"
                               class="mdc-text-field__input mdc-text-field--disabled">
                        <label class="mdc-text-field__label">Area</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input th:value="${requirementData.requirementTotalHours}"
                               class="mdc-text-field__input mdc-text-field--disabled">
                        <label class="mdc-text-field__label">Horas a Incurrir</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <form th:action="@{/budgets/assign/search}" th:object="${budgetSearchDTO}" method="get">
        <input th:field="*{areaId}" type="hidden" />
        <input th:field="*{bankingId}" type="hidden" />
        <input th:field="*{corporationId}" type="hidden" />
        <input th:field="*{natureId}" type="hidden" />
        <input th:field="${requirementData.requirementId}" type="hidden" />

        <div class="row">
            <table class="col-md-12" >
                <div class="row">
                    <div class="col-md-12 subtitle-content">Criterios de Búsqueda</div>
                    <tr>
                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                                <input class="mdc-text-field__input" maxlength="40" th:field="*{budgetId}">
                                <label  class="mdc-text-field__label">PEP</label>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                                <input type="number" max="2099" min="1990" maxlength="4"
                                       class="mdc-text-field__input" th:field="*{budgetYear}">
                                <label class="mdc-text-field__label">Año</label>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                                <input maxlength="40" class="mdc-text-field__input" th:field="*{budgetName}">
                                <label class="mdc-text-field__label">Nombre PEP</label>
                            </div>
                        </td>
                    <tr style="height:72px">
                        <td class="col-md-4" align="center">
                            <div id="areas" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                    <div class="mdc-select__label">Área</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3">
                                    <ul class="mdc-list mdc-menu__items">
                                        <li class="mdc-list-item" role="option" tabindex="0" th:each="area : ${areas}"
                                            th:value="${area.areaId}" th:text="${area.areaName}">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="bankings" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                    <div class="mdc-select__label">Banca</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3">
                                    <ul class="mdc-list mdc-menu__items">
                                        <li class="mdc-list-item" role="option" tabindex="0" th:each="banking : ${bankingList}"
                                            th:value="${banking.bankingId}" th:text="${banking.bankingName}">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" >
                                <input maxlength="40" class="mdc-text-field__input" th:field="*{userReceiverId}">
                                <label class="mdc-text-field__label">Responsable</label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height:72px">
                        <td class="col-md-4" align="center">
                            <div id="corporations" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                    <div class="mdc-select__label">Entidad</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3">
                                    <ul class="mdc-list mdc-menu__items">
                                        <li class="mdc-list-item" role="option" tabindex="0" th:each="corporation : ${corporations}"
                                            th:value="${corporation.corporationId}" th:text="${corporation.corporationName}">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="natures" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                    <div class="mdc-select__label">I/G</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3">
                                    <ul class="mdc-list mdc-menu__items">
                                        <li class="mdc-list-item" role="option" tabindex="0" th:each="nature : ${natures}"
                                            th:value="${nature.natureId}" th:text="${nature.natureName}">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>

                        <td class="col-md-4" align="center">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                                <input maxlength="40" class="mdc-text-field__input" th:field="*{budgetCostCenter}">
                                <label class="mdc-text-field__label">CR</label>
                            </div>
                        </td>
                    </tr>
                </div>
            </table>
        </div>

    <div class="row" style="margin-top: 48px; margin-bottom: 60px;">
        <div class="col-xs-12 text-center">
            <button type="submit" class="btn btn-primary" onclick="showHoldOn();">Buscar</button>
            <a class="btn btn-primary" id="cancel-search" onclick="showHoldOn();">Cancelar</a>
        </div>
    </div>

    </form>

    <div class="row" style="margin-top: 24px;">
        <div class="col-md-12 col-sm-12 subtitle-content">Resultado de la Búsqueda</div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 pep-title">PEPs</div>
    </div>

    <div class="row">
        <table id="results-table" class="col-md-12 col-sm-12 table table-hover table-condensed">
            <thead>
            <th></th> <!-- RADIO -->
            <th>PEP</th>
            <th>Nombre del PEP</th>
            <th>Dirección</th>
            <th>Subdirección</th>
            <th>Responsable DyD</th>
            <th>Retiro MXN</th>
            <th>P. MXN Final</th>
            <th>Inc. Pbas</th>
            <th>Inc. FSW</th>
            <th>Saldo MXN</th>
            <th>Saldo hrs.</th>
            </thead>
            <tbody>

            <tr th:if="${budgets!= null && budgets.size() < 1}">
                <td colspan="12">
                    <h2>No se encontraron resultados para tu búsqueda.</h2>
                </td>
            </tr>
            <th:block th:each="budget, stat : ${budgets}">
                <tr th:href="${'#row-detail-wrapper-' + stat.count}" th:data-id="${budget.budgetId}" class="clickable"
                    th:aria-controls="${'row-detail-wrapper-' + stat.count}">
                    <td>
                        <input type="radio" name="budgets" th:id="${budget.budgetId}" th:value="${budget.budgetId}">
                    </td>
                    <td data-budget-id data-select th:text="${budget.budgetId}"></td>
                    <td data-select th:text="${budget.budgetName}"></td>
                    <td th:text="${budget.transfers[0].level.levelSuperior.levelName}"></td>
                    <td data-select th:text="${budget.transfers[0].level.levelName}"></td>
                    <td th:text="${budget.transfers[0].user.userInternalId}"></td>
                    <td th:text="${budget.transfers[0].transferWithdrawalValue}"></td>
                    <td th:text="${budget.transfers[0].transferValue - budget.transfers[0].transferWithdrawalValue}"></td>
                    <td th:text="${budget.budgetIncurredTestFactory}"></td>
                    <td th:text="${budget.budgetIncurredSoftwareFactory}"></td>
                    <td>0</td>
                    <td>0</td>
                </tr>

                <!--
                <tr>
                    <td colspan="11" class="detail-td">
                        <div th:id="${'row-detail-wrapper-' + stat.count}" class="collapse" >
                            <table style="width: 100%;">
                                <tr>
                                    <td class="detail-label">F. Prop. Fin</td>
                                    <td th:text="${#dates.format(requirementData.requirementEndDate, 'dd/MM/yyyy')}"></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                -->

            </th:block>
            </tbody>
        </table>
    </div>

    <div class="row buttons" id="row-buttons-results">
        <div class="col-xs-12 text-center">
            <a id="add-budget" class="btn btn-primary" disabled="">Agregar</a>
            <a id="cancel-results" class="btn btn-primary" disabled="">Cancelar</a>
        </div>
    </div>

    <div class="row" style="margin-top: 24px;">
        <div class="col-md-12 col-sm-12 subtitle-content">
            <p style="margin-bottom: 0">PEPs Seleccionados
                <span id="hours-section">
                    Acumulado: <span id="acum-hours"></span>
                    <span class="sep">|</span>
                    Total a incurrir: <span id="inc-hours" th:text="${requirementData.requirementTotalHours}"></span>
                </span>
            </p>
        </div>
    </div>


    <form id="form">
    <div class="row">
        <table id="selected-budgets" class="col-md-12 col-sm-12 table table-hover table-condensed">
            <thead>
            <th></th> <!-- RADIO -->
            <th>PEP</th>
            <th>Nombre del PEP</th>
            <th>Subdirección</th>
            <th>Incurrido MXN</th>
            <th>Incurrido horas</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="row buttons" id="row-buttons-actions">
        <div class="col-xs-12 text-center">
            <button id="save" type="submit" class="btn btn-primary" disabled="">Guardar</button>
            <a id="cancel-save" class="btn btn-primary" disabled="">Cancelar</a>
        </div>
    </div>
    </form>

</div>


<footer th:replace="~{layout/footer2 :: footer }"></footer>

<table style="display: none;">
    <tr>
        <td id="botecito" class="clickable" data-budget-id=""><img th:src="@{/img/trash_icon.png}" height="16"></td>
        <td id="incurrido"><span></span> MXN</td>
        <td id="incurrido-hrs">
            <input class="incurrido-horas form-control" type="number" min="0" max="999999" maxlength="6" required>
        </td>
    </tr>
</table>

</body>

<div th:replace="~{layout/footer2 :: scripts }"></div>

<script>mdc.autoInit()</script>


<style rel="stylesheet">
    .mdc-text-field__input {
        border-bottom-color: rgba(15, 50, 242, 0.5);
    }
</style>

</html>