<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" class="nojs html css_verticalspacer">

<head>
  <div th:replace="~{layout/mainHeader :: header ('Asociar PEP')}"></div>

  <link rel="stylesheet" type="text/css" th:href="@{/css/fabrica/asociar_pep.css}">
</head>

<body>
  <div class="clearfix borderbox" id="page">
    <!-- group -->
    <div class="clearfix grpelem" id="ppu123">
      <div th:replace="~{layout/mainHeader :: menu}"></div>
      <div class="clearfix colelem" id="pu27059">
        <div class="col-md-12" align="center" style="font-size:30px; font-family:BBVA Web Book">Asociar PEP</div>
      </div>
    </div>

    <div class="verticalspacer" data-offset-top="1637" data-content-above-spacer="1636" data-content-below-spacer="61" data-sizePolicy="fixed"
      data-pintopage="page_fixedLeft">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center" style="font-size:20px; font-family:BBVA Web Book; background-color:#004582; color:#FFFFFF">ODT1 Servicios Nacar</div>
          <table class="col-md-12">
            <tr>
              <td class="col-md-4" align="center">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                  <input type="text" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="demo-input">
                  <label for="demo-input" class="mdc-text-field__label">Dirección</label>
                </div>
              </td>
              <td class="col-md-4" align="center">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                  <input type="text" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="demo-input">
                  <label for="demo-input" class="mdc-text-field__label">Subdirección</label>
                </div>
              </td>
              <td class="col-md-4" align="center">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                  <input type="text" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="demo-input">
                  <label for="demo-input" class="mdc-text-field__label">Subdirector</label>
                </div>
              </td>
              <tr style="height:72px">
                <td class="col-md-4" align="center">
                  <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                    <input type="text" class="mdc-text-field__input" id="demo-input">
                    <label for="demo-input" class="mdc-text-field__label">Responsable</label>
                  </div>
                </td>
                <td class="col-md-4" align="center">
                  <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                    <input type="text" class="mdc-text-field__input" id="demo-input">
                    <label for="demo-input" class="mdc-text-field__label">Area de Atención</label>
                  </div>
                </td>
                <td class="col-md-4" align="center">
                  <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                    <input type="text" class="mdc-text-field__input" id="demo-input">
                    <label for="demo-input" class="mdc-text-field__label">Horas a Incurrir</label>
                  </div>
                </td>
              </tr>
          </table>
        </div>
        <br>
        <br>
        <table class="col-md-12">
          <div class="row">
            <div class="col-md-12" align="center" style="font-size:20px; font-family:BBVA Web Book; background-color:#004582; color:#FFFFFF">Criterios de Busqueda</div>
            <tr>
              <td class="col-md-4" align="center">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                  <input type="text" class="mdc-text-field__input" id="demo-input">
                  <label for="demo-input" class="mdc-text-field__label">PEP</label>
                </div>
              </td>
              <td class="col-md-4" align="center">
                <div id="ao-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                  <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                    <div class="mdc-select__label">Año</div>
                    <div class="mdc-select__selected-text"></div>
                    <div class="mdc-select__bottom-line"></div>
                  </div>
                  <div class="mdc-menu mdc-select__menu col-md-3">
                    <ul class="mdc-list mdc-menu__items">
                      <li class="mdc-list-item" role="option" tabindex="0">
                        Año 1
                      </li>
                      <li class="mdc-list-item" role="option" tabindex="0">
                        Año 2
                      </li>
                      <li class="mdc-list-item" role="option" tabindex="0">
                        Año 3
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
              <td class="col-md-4" align="center">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                  <input type="text" class="mdc-text-field__input" id="demo-input">
                  <label for="demo-input" class="mdc-text-field__label">Nombre PEP</label>
                </div>
              </td>
              <tr style="height:72px">
                <td class="col-md-4" align="center">
                  <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                    <input type="text" class="mdc-text-field__input" id="demo-input">
                    <label for="demo-input" class="mdc-text-field__label">Área</label>
                  </div>
                </td>
                <td class="col-md-4" align="center">
                  <div id="banca-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                      <div class="mdc-select__label">Banca</div>
                      <div class="mdc-select__selected-text"></div>
                      <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3">
                      <ul class="mdc-list mdc-menu__items">
                        <li class="mdc-list-item" role="option" tabindex="0">
                          Banca 1
                        </li>
                        <li class="mdc-list-item" role="option" tabindex="0">
                          Banca 2
                        </li>
                        <li class="mdc-list-item" role="option" tabindex="0">
                          Banca 3
                        </li>
        
                      </ul>
                    </div>
                  </div>
                </td>
                <td class="col-md-4" align="center">
                  <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                    <input type="text" class="mdc-text-field__input" id="demo-input">
                    <label for="demo-input" class="mdc-text-field__label">Responsable</label>
                  </div>
                </td>
              </tr>
              <tr style="height:72px">
                <td class="col-md-4" align="center">
                  <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                    <input type="text" class="mdc-text-field__input" id="demo-input">
                    <label for="demo-input" class="mdc-text-field__label">Entidad</label>
                  </div>
                </td>
                <td class="col-md-4" align="center">
                  <div id="ig-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                      <div class="mdc-select__label">I/G</div>
                      <div class="mdc-select__selected-text"></div>
                      <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3">
                      <ul class="mdc-list mdc-menu__items">
                        <li class="mdc-list-item" role="option" tabindex="0">
                          I/G 1
                        </li>
                        <li class="mdc-list-item" role="option" tabindex="0">
                          I/G 2
                        </li>
                        <li class="mdc-list-item" role="option" tabindex="0">
                          I/G 3
                        </li>
                      </ul>
                    </div>
                  </div>
                  <td class="col-md-4" align="center">
                    <div id="cr-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                      <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                        <div class="mdc-select__label">C/R</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                      </div>
                      <div class="mdc-menu mdc-select__menu col-md-3">
                        <ul class="mdc-list mdc-menu__items">
                          <li class="mdc-list-item" role="option" tabindex="0">
                            C/R 1
                          </li>
                          <li class="mdc-list-item" role="option" tabindex="0">
                            C/R 2
                          </li>
                          <li class="mdc-list-item" role="option" tabindex="0">
                            C/R 3
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
              </tr>
        </table>
        </div>
        <div class="row">
          <table class="col-md-12">
            <tr>
              <br>
              <br>
              <br>
              <td class="col-md-6" align="Center">
                <button type="button" class="btn btn-primary">Buscar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>
  </div>
  <script>mdc.autoInit()</script>
  <script defer>
  </script>

  <script type="text/javascript" th:src="@{/js/fabrica/asociar_pep.js}"></script>
  <div th:replace="~{layout/footer :: footerScripts}"></div>
</body>

</html>




























<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Asociar PEP</title>


    <!-- Estilos -->
    <script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>

    <!--Script generales-->
    <link rel="stylesheet" type="text/css" th:href="@{css/estilosGF.css}">


    <!--Scripts para campos de texto-->
    <link rel="stylesheet" type="text/css" th:href="@{css/material-components-web.css}">
    <script type="text/javascript" th:src="@{js/material-components-web.js}"></script>


    <!--Estilos para los combos-->
    <link rel="stylesheet" type="text/css" th:href="@{css/select.css}">
    <script type="text/javascript" th:src="@{js/ready.js}"></script>

</head>

<body>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12" align="center" style="font-size:30px; font-family:BBVA Web Book">Asociar PEP</div>
    </div>
    <br>

</body>

<script>mdc.autoInit()</script>
<style rel="stylesheet">
    
</style>

<script>
    
</script>
</html>