<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Busqueda de Requerimientos</title>


    <!-- Estilos -->
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

    <!--Script generales-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilosGF.css}">

    <!--Scripts para campos de texto-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/material-components-web.css}">
    <script type="text/javascript" th:src="@{/js/material-components-web.js}"></script>

    <!--Estilos para los combos-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/select.css}">
    <script type="text/javascript" th:src="@{/js/ready.js}"></script>

    <!--Estilos para los calendarios-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.css}">
    <script type="text/javascript" th:src="@{/js/analytics.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.js}"></script>

    <script type="text/javascript" th:src="@{/js/fabrica/busqueda-requerimientos.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fabrica/busqueda-requerimientos.css}">

</head>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
    $(function () {
        $('#datetimepicker5').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
</script>
<body>

<div th:replace="layout/header :: cabeceraPrincipal"></div>

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12" align="center" style="font-size:30px; font-family:BBVA Web Book">Requerimientos</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" align="center" style="font-size:20px; font-family:BBVA Web Book; background-color:#004582; color:#FFFFFF">Criterios De Busqueda</div>
        <form th:action="@{/requirements/find}" th:object="${criteria}" method="post" id="find">

            <!-- HIDDEN FIELDS -->
            <input th:field="*{directionId}" type="hidden" />
            <input th:field="*{subDirectionId}" type="hidden" />
            <input th:field="*{attAreaId}" type="hidden" />
            <input th:field="*{proyTypeId}" type="hidden" />
            <input th:field="*{techId}" type="hidden" />
            <input th:field="*{companyId}" type="hidden" />
            <input th:field="*{serviceTypeId}" type="hidden" />
            <input th:field="*{initialPropDate}" type="hidden" />
            <input th:field="*{finalPropDate}" type="hidden" />
        <table class="col-md-12" >
            <tr>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text" maxlength="100" th:field="*{name}"
                               class="mdc-text-field__input"
                               style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="nombre-requerimiento">
                        <label class="mdc-text-field__label">Nombre De Requerimiento</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div id="dirs" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Dirección</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li class="mdc-list-item" role="option" tabindex="0"
                                    th:each="dir : ${principals}" th:value="${dir.levelSerial}" th:text="${dir.levelName}">
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div id="subdirs" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Subdirección</div>
                            <div class="mdc-select__selected-text" id="subdir-sel-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items" id="subdir-select">
                                <li class="mdc-list-item" role="option" tabindex="0"></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4" align="center">
                    <!--
                    <div id="resp-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Responsable</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li class="mdc-list-item" role="option" tabindex="0">
                                    Responsable 1
                                </li>
                                <li class="mdc-list-item" role="option" tabindex="0">
                                    Responsable 2
                                </li>
                                <li class="mdc-list-item" role="option" tabindex="0">
                                    Responsable 3
                                </li>
                            </ul>
                        </div>
                    </div>
                    -->
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input type="text" maxlength="100" th:field="*{responsible}"
                               class="mdc-text-field__input"
                               style="border-bottom-color:rgba(28, 59, 224, 0.5)">
                        <label class="mdc-text-field__label">Responsable</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input type="text" maxlength="100" th:field="*{responsible}"
                               class="mdc-text-field__input"
                               style="border-bottom-color:rgba(28, 59, 224, 0.5)">
                        <label class="mdc-text-field__label">Gestor</label>
                    </div>

                </td>
                <td class="col-md-4" align="center">
                    <div id="areas" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Area de Atencion</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li class="mdc-list-item" role="option" tabindex="0"
                                    th:each="area : ${areas}" th:value="${area.areaId}" th:text="${area.areaName}">
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="height:72px">
                <td class="col-md-4" align="center">
                    <div id="tipos-proy" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Tipo De Proyecto</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu" >
                            <ul class="mdc-list mdc-menu__items">
                                <li class="mdc-list-item" role="option" tabindex="0"
                                    th:each="meth : ${methodologies}" th:value="${meth.methodologyId}"
                                    th:text="${meth.methodologyName}">
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div id="techs" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Tecnología</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu " >
                            <ul class="mdc-list mdc-menu__items">
                                <li class="mdc-list-item" role="option" tabindex="0"
                                    th:each="tecnologia : ${technologies}" th:value="${tecnologia.technologyName}"
                                    th:text="${tecnologia.technologyName}">
                                </li>

                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div id="empresas" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Empresa</div>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu " >
                            <ul class="mdc-list mdc-menu__items">
                                <li class="mdc-list-item" role="option" tabindex="0"
                                    th:each="company : ${companies}" th:value="${company.companyId}"
                                    th:text="${company.companyName}">
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4" align="center">
                    <div id="tipos-serv" class="mdc-select" data-mdc-auto-init="MDCSelect" role="listbox">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Tipo De Servicio</div>
                            <div class="mdc-select__selected-text" id="service-type-sel-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu " >
                            <ul class="mdc-list mdc-menu__items" id="service-type-select">
                                <li class="mdc-list-item" role="option" tabindex="0"></li>
                            </ul>
                        </div>
                    </div>
                </td>

                <td class="col-md-4" align="center">
                    <div id="aplicacion" class="mdc-select" data-mdc-auto-init="MDCSelect" role="listbox">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Aplicación</div>
                            <div class="mdc-select__selected-text" id="aplicacion-sel-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu " >
                            <ul class="mdc-list mdc-menu__items" id="aplicacion-select">
                                <li class="mdc-list-item" role="option" tabindex="0"></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div id="canal" class="mdc-select" data-mdc-auto-init="MDCSelect" role="listbox">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label">Canal</div>
                            <div class="mdc-select__selected-text" id="canal-sel-text"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu " >
                            <ul class="mdc-list mdc-menu__items" id="canal-select">
                                <li class="mdc-list-item" role="option" tabindex="0"></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text"  class="mdc-text-field__input" id="pep">
                        <label  class="mdc-text-field__label">PEP</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="dog1">
                        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type='text' class="mdc-text-field__input" row="2" id='datetimepicker4'
                                   th:field="*{initialPropDate}"/>
                            <label class="mdc-text-field__label">Fecha Prop.Inicial</label>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="dog1">
                        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type='text' class="mdc-text-field__input"  row="2" id='datetimepicker5'
                                   th:field="*{finalPropDate}"/>
                            <label class="mdc-text-field__label">Fecha Prop.Final</label>
                        </div>
                    </div>
                </td>
            </tr>

            <tr style="height:72px">
                <td class="col-md-4" align="center" style="height:72px">
                </td>
                <td class="col-md-4" align="center" style="height:72px">
                </td>
                <td class="col-md-4" align="center" style="height:72px">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                        <input type="text"  class="mdc-text-field__input" id="pi">
                        <label class="mdc-text-field__label">Pi</label>
                    </div>
                </td>
            </tr>

        </table>
    </form>
    </div>

    <br>
    <div class="row">
        <table class="col-md-12" >
            <tr>
                <td class="col-md-6" align="center">
                    <button type="submit" class="btn btn-primary" form="find">Buscar</button>
                    <a class="btn btn-primary">Limpiar</a>
                </td>
            </tr>
        </table>
        <br>
        <br>
    </div>


    <div class="col-md-12" align="Left" style="font-size:20px; font-family:BBVA Web Book; background-color:#004582; color:#FFFFFF">Resultados De Busqueda</div>
    <div class="col-md-12" align="Left" style="font-size:20px; font-family:BBVA Web Book; background-color:#12a96a; color:#FFFFFF">Requerimientos</div>

    <div class="row">
        <table class="col-md-12 table table-hover table-responsive"  style="font-size:12px;">
            <thead>
            <tr style="background-color:#999; color:#fcfbfb">
                <th >

                </th>
                <th >
                    Requerimiento
                </th>
                <th>
                    NOMBRE DE PEP
                </th>
                <th>
                    DIRECCION
                </th>
                <th>
                    SUBDIRECCION
                </th>
                <th>
                    RESPONSABLE
                </th>
                <th>
                    Area de atencion
                </th>
                <th>
                    Tipo de servicio
                </th>
                <th>
                    Tecnologia
                </th>
                <th>
                    Empresa
                </th>
                <th>
                    F. Prop. Inic
                </th>

            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <br>
    <div class="row">
        <table class="col-md-12" >
            <tr>
                <td class="col-md-6" align="center">
                    <a type="button" class="btn btn-primary">Modificar</a>
                    <a type="button" class="btn btn-primary" th:href="@{/requirements/add}">Alta</a>
                </td>
            </tr>
        </table>
        <br>
        <br>
    </div>
</div>

</body>
<script>mdc.autoInit()</script>
<script defer>

</script>


</html>