<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:replace="~{layout/mainHeader :: head ('Búsqueda MID')}"></head>
    <body>
        <header th:replace="~{layout/mainHeader :: header }"></header>
        <div class="container">




            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="h2-title-content">MID</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 subtitle-content">Criterios de Búsqueda</div>
            </div>
            <div class="row">

                <div class="row">

                    <div class="col-xs-12">
                        <form id="searchForm" name="searchForm" method="GET">

                            <div class="row">
                                <div class="col-md-4">
                                    <div id="slct_tipo" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                            <div class="mdc-select__label">Tipo</div>
                                            <div class="mdc-select__selected-text"></div>
                                            <div class="mdc-select__bottom-line"></div>
                                        </div>
                                        <div class="mdc-menu mdc-select__menu">
                                            <ul class="mdc-list mdc-menu__items">
                                                <li class="mdc-list-item" role="option" tabindex="0" th:each="meth : ${methodologies}"
                                                    th:attrappend="aria-selected=(${meth.methodologyId} == *{methodologyId}) ? 'true'"
                                                    th:value="${meth.methodologyId}" th:text="${meth.methodologyName}">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc-group-projectName">
                                        <input type="text" class="mdc-text-field__input" name="projectName" id="projectName" maxlength="30" />
                                        <label class="mdc-text-field__label">Proyecto</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="dog1">
                                        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc-group-componentCurrentDate">
                                            <input type="text" class="mdc-text-field__input" name="componentCurrentDate" id="componentCurrentDate" style="z-index: 100000;" />
                                            <label class="mdc-text-field__label">Fecha</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div id="slct_empresa" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                            <div class="mdc-select__label">Empresa</div>
                                            <div class="mdc-select__selected-text"></div>
                                            <div class="mdc-select__bottom-line"></div>
                                        </div>
                                        <div class="mdc-menu mdc-select__menu">
                                            <ul class="mdc-list mdc-menu__items">
                                                <li class="mdc-list-item" role="option" tabindex="0"
                                                    th:each="company : ${companies}" th:id="${company.companyId}" th:text="${company.companyName}">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="slct_direccion" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                            <div class="mdc-select__label">Dirección</div>
                                            <div class="mdc-select__selected-text"></div>
                                            <div class="mdc-select__bottom-line"></div>
                                        </div>
                                        <div class="mdc-menu mdc-select__menu">
                                            <ul class="mdc-list mdc-menu__items">
                                                <li class="mdc-list-item" role="option" tabindex="0"
                                                    th:each="dir : ${principals}" th:id="${dir.levelId}" th:text="${dir.levelName}" >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="slct_area" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                            <div class="mdc-select__label">Área</div>
                                            <div class="mdc-select__selected-text"></div>
                                            <div class="mdc-select__bottom-line"></div>
                                        </div>
                                        <div class="mdc-menu mdc-select__menu">
                                            <ul class="mdc-list mdc-menu__items">
                                                <li class="mdc-list-item" role="option" tabindex="0" th:each="area : ${areas}"
                                                    th:attrappend="aria-selected=(${area.areaId} == *{areaId}) ? 'true'"
                                                    th:value="${area.areaId}" th:text="${area.areaName}">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div id="slct_componente" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                            <div class="mdc-select__label">Componente</div>
                                            <div class="mdc-select__selected-text"></div>
                                            <div class="mdc-select__bottom-line"></div>
                                        </div>
                                        <div class="mdc-menu mdc-select__menu">
                                            <ul class="mdc-list mdc-menu__items">
                                                <li id=demo class="mdc-list-item" role="option" tabindex="0"> Modificado </li>
                                                <li id=demo class="mdc-list-item" role="option" tabindex="0"> Dudas </li>
                                                <li id=demo class="mdc-list-item" role="option" tabindex="0"> Incidencia </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- .// row -->

                <div class="row buttons">
                    <div class="col-xs-12 text-center">
                        <button type="button" class="btn btn-primary" form="searchForm" onclick="controlSearch()">Buscar</button>
                        <button id="clear-form" type="button" class="btn btn-primary" onclick="limpiarCampos()">Limpiar</button>
                    </div>
                </div>

                <div class="row" id="row-title-results">
                    <div class="col-md-12 subtitle-content">Resultados de Búsqueda</div>
                </div>
                <!-- .// row -->

                <div class="row" id="row-content-results">
                    <table id="results-table" class="col-md-12 table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Tipo</th>
                                <th>Proyecto</th>
                                <th>Fecha</th>
                                <th>Empresa</th>
                                <th>Dirección</th>
                                <th>Área</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="data.component.requirement, stat : ${requirements}">
                                <!-- Table content -->

                            </th:block>
                        </tbody>
                    </table>
                </div> <!-- tabla-->

                <div class="row buttons" id="row-buttons-results">
                    <div class="col-xs-12 text-center">
                        <a id="edit-requirement" class="btn btn-primary" disabled="disabled">Modificar</a>
                    </div>
                </div>




        </div>
        <footer th:replace="~{layout/footer2 :: footer }"></footer>
    </body>
    <div th:replace="~{layout/footer2 :: scripts }"></div>
    <script type="text/javascript" th:src="@{/js/fabrica/busqueda_mid.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fabrica/busqueda-mid.css}">
</html>