<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Busqueda de Componentes</title>


    <!-- Estilos -->
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    
    <!--Script generales-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilosGF.css}">
    
    <!--Scripts para campos de texto-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/material-components-web.css}">
    <script type="text/javascript" th:src="@{/js/material-components-web.js}"></script>
    
    <!--Estilos para los combos-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/select.css}">
    <script type="text/javascript" th:src="@{/js/ready.js}"></script>
    
    <!--Estilos para los calendarios-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.css}">
    <script type="text/javascript" th:src="@{/js/analytics.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/fabrica/busqueda-requerimientos.js}"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
</head>
<style>
  #demo-wrapper {
    padding: 4px;
    padding-left: 0;
  }

  /* Hack to work around style-loader asynchronously loading styles. */

  /* Equivalent to using mdc-typography's subheading2, which is used in the sass file. */

  .mdc-select {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .04em;
  }

  .example {
    max-width: 400px;
    margin: 24px;
    padding: 24px;
  }
</style>
<script type="text/javascript">
  $(function () {
    $('#datetimepickerReal').datetimepicker({
      format: 'DD/MM/YYYY'
    });

    $('#datetimepickerPrev').datetimepicker({
      format: 'DD/MM/YYYY'
    });

    $('#datetimepickerNego').datetimepicker({
      format: 'DD/MM/YYYY'
    });

    $('#datetimepickerRealFact').datetimepicker({
      format: 'DD/MM/YYYY'
    });

    $("#tabs").tabs();
  });
</script>

<body>

  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-12" align="center" style="font-size:30px; font-family:BBVA Web Book">Componentes</div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12" align="center" style="font-size:20px; font-family:BBVA Web Book; background-color:#004582; color:#FFFFFF">Criterios De Busqueda</div>
      <table class="col-md-12">
        <tr>
          <td class="col-md-4" align="center">
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
              <input type="text" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="componente">
              <label class="mdc-text-field__label">Componente</label>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
              <input type="text" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="requerimiento">
              <label class="mdc-text-field__label">Requerimiento</label>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
              <input type="text" class="mdc-text-field__input" style="border-bottom-color:rgba(28, 59, 224, 0.5)" id="version">
              <label class="mdc-text-field__label">Versión</label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="col-md-4" align="center">
            <div id="dirs" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Dirección</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0" th:each="dir : ${direcciones}" th:value="${dir.levelSerial}" th:text="${dir.levelName}">
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Subdirección</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0" th:each="area : ${areas}" th:value="${area.areaId}" th:text="${area.areaName}">
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Empresa</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0">                    
                  </li>
                  <li class="mdc-list-item" role="option" tabindex="0">
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr style="height:72px">
          <td class="col-md-4" align="center">
            <div class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Tecnología</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0" th:each="tecnologia : ${tecnologias}" th:value="${tecnologia.technologyName}"
                    th:text="${tecnologia.technologyName}">
                  </li>
  
                </ul>
              </div>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Nuevo/Modificado</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0" th:each="empresa : ${empresas}" th:value="${empresa.companyName}" th:text="${empresa.companyName}">
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div id="Servicio-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Estado</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0">
                    Tipo de Servicio 1
                  </li>
                  <li class="mdc-list-item" role="option" tabindex="0">
                    Tipo de Servicio 2
                  </li>
                  <li class="mdc-list-item" role="option" tabindex="0">
                    Tipo de Servicio 3
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="col-md-4" align="center">
            <div class="dog1">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                <input type='text' class="mdc-text-field__input" row="2" id='datetimepickerReal' />
                <label class="mdc-text-field__label">F. Real CGF > Fact. Diseño</label>
              </div>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div class="dog1">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                <input type='text' class="mdc-text-field__input" row="2" id='datetimepickerPrev' />
                <label class="mdc-text-field__label">F. Prevista Fact. >  CGF Software</label>
              </div>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div id="Servicio-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Tipologia Inicial</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0">
                    
                  </li>
                  <li class="mdc-list-item" role="option" tabindex="0">
                    
                  </li>
                  <li class="mdc-list-item" role="option" tabindex="0">
                    
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="col-md-4" align="center">
            <div class="dog1">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                <input type='text' class="mdc-text-field__input" row="2" id='datetimepickerNego' />
                <label class="mdc-text-field__label">F. Negociada Fact. > CGF Software</label>
              </div>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div class="dog1">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                <input type='text' class="mdc-text-field__input" row="2" id='datetimepickerRealFact' />
                <label class="mdc-text-field__label">F. Real Fact. > CGF Software</label>
              </div>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div id="Servicio-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Tipologia Final</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0">
        
                  </li>
                  <li class="mdc-list-item" role="option" tabindex="0">
        
                  </li>
                  <li class="mdc-list-item" role="option" tabindex="0">
        
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="col-md-4" align="center">
            <div id="dirs" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Dificultad Inicial</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0" th:each="dir : ${direcciones}" th:value="${dir.levelSerial}" th:text="${dir.levelName}">
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Horas Iniciales</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0" th:each="area : ${areas}" th:value="${area.areaId}" th:text="${area.areaName}">
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Estatus</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0">
                  </li>
                  <li class="mdc-list-item" role="option" tabindex="0">
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="col-md-4" align="center">
            <div id="dirs" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Dificultad Final</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0" th:each="dir : ${direcciones}" th:value="${dir.levelSerial}" th:text="${dir.levelName}">
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td class="col-md-4" align="center">
            <div class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect" style="background-color:#F4F4F4; width:90%">
              <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                <div class="mdc-select__label">Horas Finales</div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
              </div>
              <div class="mdc-menu mdc-select__menu col-md-3">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0" th:each="area : ${areas}" th:value="${area.areaId}" th:text="${area.areaName}">
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td class="col-md-4" align="center" style="height:72px">
          </td>
        </tr>
      </table>
    </div>
    <br>
    <div class="row">
      <table class="col-md-12">
        <tr>
          <td class="col-md-6" align="center">
            <button type="button" class="btn btn-primary">Buscar</button>
            <button type="button" class="btn btn-primary">Limpiar</button>
          </td>
        </tr>
      </table>
      <br>
      <br>
    </div>
    <div class="col-md-12" align="Left" style="font-size:20px; font-family:BBVA Web Book; background-color:#004582; color:#FFFFFF">Resultados De Busqueda</div>
    <div class="col-md-12" align="Left" style="font-size:20px; font-family:BBVA Web Book; background-color:#12a96a; color:#FFFFFF">Requerimientos</div>
  
    <div class="row">

      <div id="tabs">
        <ul>
          <li>
            <a href="#tab-componentes">Componentes</a>
          </li>
          <li>
            <a href="#tab-generales">Generales</a>
          </li>
          <li>
            <a href="#tab-fecha">Fecha</a>
          </li>
          <li>
            <a href="#tab-cierre">Cierre</a>
          </li>
        </ul>
        <div id="tab-componentes">
          
        </div>
        <div id="tab-generales">
          <table class="table table-hover" style="font-size:12px;">
            <thead>
              <tr style="background-color:#999; color:#fcfbfb">
                <th>
                </th>
                <th>
                  Componente
                </th>
                <th>
                  Requerimiento
                </th>
                <th>
                  Versión
                </th>
                <th>
                  Dirección
                </th>
                <th>
                  Subdirección
                </th>
                <th>
                  Empresa
                </th>
                <th>
                  Tecnología
                </th>
                <th>
                  Nuevo/Modificado
                </th>
                <th>
                  Modif.
                </th>
                <th>
                  Dudas
                </th>
                <th>
                  Errores
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-info" onclick="mostrar('tr1')">
                <td>
                  <input type="radio">
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
              </tr>
              <tr id="tr1" style="display:none">
                <td colspan="3">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  SUBDIRECTOR 2
                </td>
                <td colspan="2">
                  OTRO DATO
                </td>
                <td colspan="2">
                  NUMEROS
                </td>
                <td colspan="3">
                  OTRAS HORAS
                </td>

              </tr>
              <tr class="table-info" onclick="mostrar('tr2')">
                <td>
                  <input type="radio">
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
              </tr>
              <tr id="tr2" style="display:none">
                <td colspan="3">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  SUBDIRECTOR 2
                </td>
                <td colspan="2">
                  OTRO DATO
                </td>
                <td colspan="2">
                  NUMEROS
                </td>
                <td colspan="3">
                  OTRAS HORAS
                </td>

              </tr>
            </tbody>
          </table>
        </div>
        <div id="tab-fecha">
          <table class="table table-hover" style="font-size:12px;">
            <thead>
              <tr style="background-color:#999; color:#fcfbfb">
                <th>
                </th>
                <th>
                  Componente
                </th>
                <th>
                  Requerimiento
                </th>
                <th>
                  Versión
                </th>
                <th>
                  Dirección
                </th>
                <th>
                  Subdirección
                </th>
                <th>
                  Empresa
                </th>
                <th>
                  Tecnología
                </th>
                <th>
                  Nuevo/Modificado
                </th>
                <th>
                  Modif.
                </th>
                <th>
                  Dudas
                </th>
                <th>
                  Errores
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-info" onclick="mostrar('tr1')">
                <td>
                  <input type="radio">
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
              </tr>
              <tr id="tr1" style="display:none">
                <td colspan="3">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  SUBDIRECTOR 2
                </td>
                <td colspan="2">
                  OTRO DATO
                </td>
                <td colspan="2">
                  NUMEROS
                </td>
                <td colspan="3">
                  OTRAS HORAS
                </td>
          
              </tr>
            </tbody>
          </table>
        </div>
        <div id="tab-cierre">
          <table class="table table-hover" style="font-size:12px;">
            <thead>
              <tr style="background-color:#999; color:#fcfbfb">
                <th>
                </th>
                <th>
                  Componente
                </th>
                <th>
                  Requerimiento
                </th>
                <th>
                  Versión
                </th>
                <th>
                  Dirección
                </th>
                <th>
                  Subdirección
                </th>
                <th>
                  Empresa
                </th>
                <th>
                  Tecnología
                </th>
                <th>
                  Nuevo/Modificado
                </th>
                <th>
                  Modif.
                </th>
                <th>
                  Dudas
                </th>
                <th>
                  Errores
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-info" onclick="mostrar('tr1')">
                <td>
                  <input type="radio">
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
              </tr>
              <tr id="tr1" style="display:none">
                <td colspan="3">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  SUBDIRECTOR 2
                </td>
                <td colspan="2">
                  OTRO DATO
                </td>
                <td colspan="2">
                  NUMEROS
                </td>
                <td colspan="3">
                  OTRAS HORAS
                </td>
          
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-primary">Modificar</button>
        <button type="button" class="btn btn-primary">Alta</button>
      </div>
    </div>
  </div>

</body>

<script>mdc.autoInit()</script>
<script defer>
</script>

</html>