<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="~{layout/mainHeader :: head ('Componentes')}"></head>

<link rel="stylesheet" type="text/css" th:href="@{/css/fabrica/busqueda_componentes_new.css}">

<body>
  <header th:replace="~{layout/mainHeader :: header }"></header>

  <div class="container">

    

    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="h2-title-content">Componentes</h2>
      </div>
    </div>

    <div class="row">
    
      <div class="col-md-12 subtitle-content">Criterios De Búsqueda</div>

      <div class="col-xs-12">
        <form id="searchForm" name="searchForm" th:object="${ComponentSearchDTO}" th:action="@{/components/search}" method="GET"></form>
          <!-- 
            componentName
            requirementName
            componentVersion
            principalId
            subPrincipalId
            companyId
            technologyId
            typologyNewComponent
            statusId
            componentDesignRealDeliverDate
            componentPreviewDeliverDate
            startProductId
            componentPossibleDeliverDate
            componentRealDeliverDate
            finalProductId
            typologyStartSeverity
            typologyStartSeverityHours
            statusTypologyId
            typologyFinalSeverity
            typologyFinalSeverityHours
          -->
          
          <input type="hidden" id="hdn_slct_direccion" th:value="*{principalId}" />
          <input type="hidden" id="hdn_slct_subidreccion" th:value="*{subPrincipalId}" />
          <input type="hidden" id="hdn_slct_empresa" th:value="*{companyId}" />
          <input type="hidden" id="hdn_slct_tecnologia" th:value="*{technologyId}" />
          <input type="hidden" id="hdn_slct_nuevo_modificado" th:value="*{typologyNewComponent}" />
          <input type="hidden" id="hdn_slct_estado" th:value="*{statusId}" />
          <input type="hidden" id="hdn_slct_tipologia_inicial" th:value="*{startProductId}" />
          <input type="hidden" id="hdn_slct_tipologia_final" th:value="*{finalProductId}" />
          <input type="hidden" id="hdn_slct_dificultad_inicial" th:value="*{typologyStartSeverity}" />
          <input type="hidden" id="hdn_slct_estado_tipificado" th:value="*{statusTypologyId}" />
          <input type="hidden" id="hdn_slct_dificultad_final" th:value="*{typologyFinalSeverity}" />
          
          <div class="row">
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                <input type="text" class="mdc-text-field__input" name="componentName" id="componentName"
                  th:value="*{componentName}" />
                <label class="mdc-text-field__label">Componente</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                <input type="text" class="mdc-text-field__input" name="requirementName" id="requirementName"
                  th:value="*{requirementName}" />
                <label class="mdc-text-field__label">Requerimiento</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                <input type="text" class="mdc-text-field__input" name="componentVersion" id="componentVersion"
                  th:value="*{componentVersion}" />
                <label class="mdc-text-field__label">Versión</label>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-4">
              <div id="slct_direccion" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Dirección</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu col-md-3">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="dir : ${principals}" th:id="${dir.levelId}" th:text="${dir.levelName}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_subidreccion" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Subdirección</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu col-md-3">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="subDir : ${subPrincipals}" th:id="${subDir.levelId}" th:text="${subDir.levelName}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_empresa" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Empresa</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu col-md-3">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="company : ${companies}" th:id="${company.companyId}" th:text="${company.companyName}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div id="slct_tecnologia" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Tecnología</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu col-md-3">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" id="net">.NET</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="VOS">ADAEVOS</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="BI">BI</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="BASE">ESSBASE</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="HOST">HOST</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="AVA">JAVA</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="STRATEGY">MICROSTRATEGY</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="AR">NACAR</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="CLE">ORACLE</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="WER">POWER BUILDER</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="WER">POWER CENTER</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="EBAS">PRUEBAS</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="UM">SCRUM</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="RING">SPRING</li>
                    <li class="mdc-list-item" role="option" tabindex="0" id="SUAL">VISUAL BASIC</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_nuevo_modificado" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Nuevo/Modificado</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu col-md-3">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" id="0">Nuevo</li>
                    <li class="mdc-list-item" role="option" tabindex="1" id="1">Modificado</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_estado" class="mdc-select" role="listbox">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Estado</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu col-md-3">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="estatus : ${componentStatus}" th:value="${estatus.statusId}" th:text="${estatus.statusName}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="dog1">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                  <input type="text" class="mdc-text-field__input" name="componentDesignRealDeliverDate" id="componentDesignRealDeliverDate" 
                    th:value="*{componentDesignRealDeliverDate}" />
                  <label class="mdc-text-field__label">F. Real CGF > Fact. Diseño</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="dog1">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                  <input type="text" class="mdc-text-field__input" name="componentPreviewDeliverDate" id="componentPreviewDeliverDate"
                     th:value="*{componentPreviewDeliverDate}" />
                  <label class="mdc-text-field__label">F. Prevista Fact. > CGF Software</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_tipologia_inicial" class="mdc-select" role="listbox">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Tipologia Inicial</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu col-md-3">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="tipIni : ${tipologiaNewCmb}" th:id="${tipIni.typologyId}" th:text="${tipIni.product}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="dog1">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                  <input type="text" class="mdc-text-field__input" name="componentPossibleDeliverDate" id="componentPossibleDeliverDate"
                     th:value="*{componentPossibleDeliverDate}" />
                  <label class="mdc-text-field__label">F. Negociada Fact. > CGF Software</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="dog1">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                  <input type="text" class="mdc-text-field__input" name="componentRealDeliverDate" id="componentRealDeliverDate"
                     th:value="*{componentRealDeliverDate}" />
                  <label class="mdc-text-field__label">F. Real Fact. > CGF Software</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_tipologia_final" class="mdc-select" role="listbox">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Tipologia Final</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu col-md-3">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="tipFin : ${tipologiaModCmb}" th:id="${tipFin.typologyId}" th:text="${tipFin.product}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div id="slct_dificultad_inicial" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Dificultad Inicial</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu col-md-3">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="difini : ${tipologiaModCmb}" th:id="${difini.typologySeverity}" th:text="${difini.typologySeverity}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                <input type="number" class="mdc-text-field__input" name="typologyStartSeverityHours" id="typologyStartSeverityHours" 
                  th:value="*{typologyStartSeverityHours}" />
                <label class="mdc-text-field__label">Horas Inciales</label>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_estado_tipificado" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Estado Tipif.</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu col-md-3">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="typStatus : ${typingStatus}" th:id="${typStatus.statusId}" th:text="${typStatus.statusName}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div id="slct_dificultad_final" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Dificultad Final</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu col-md-3">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="difini : ${tipologiaModCmb}" th:id="${difini.typologySeverity}" th:text="${difini.typologySeverity}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                <input type="number" class="mdc-text-field__input" name="typologyFinalSeverityHours" id="typologyFinalSeverityHours" 
                  th:value="*{typologyFinalSeverityHours}" />
                <label class="mdc-text-field__label">Horas Finales</label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- .// row -->

    <div class="row buttons">
      <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-primary" id="btn-submit">Buscar</button>
        <button type="button" class="btn btn-primary">Limpiar</button>
      </div>
    </div> <!-- .// row -->

    <div class="row" th:if="${not #lists.isEmpty(components) or components != null}">
      <div class="col-md-12 subtitle-content">Resultados De Búsqueda</div>
    </div> <!-- .// row -->

    <div class="row" th:if="${not #lists.isEmpty(components) or components != null}">
      <div id="tabs">
        <ul>
          <li>
            <a href="#tab-componentes">Componentes</a>
          </li>
          <li>
            <a href="#tab-generales">Generales</a>
          </li>
          <li>
            <a href="#tab-fecha">Fecha</a>
          </li>
          <li>
            <a href="#tab-cierre">Cierre</a>
          </li>
        </ul>
        <div id="tab-componentes">

        </div>
        <div id="tab-generales">
          <table class="table table-hover" style="font-size:12px;">
            <thead>
              <tr style="background-color:#999; color:#fcfbfb">
                <th>
                </th>
                <th>
                  Componente
                </th>
                <th>
                  Requerimiento
                </th>
                <th>
                  Versión
                </th>
                <th>
                  Dirección
                </th>
                <th>
                  Subdirección
                </th>
                <th>
                  Empresa
                </th>
                <th>
                  Tecnología
                </th>
                <th>
                  Nuevo/Modificado
                </th>
                <th>
                  Modif.
                </th>
                <th>
                  Dudas
                </th>
                <th>
                  Errores
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-info" onclick="mostrar('tr1')">
                <td>
                  <input type="radio">
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
              </tr>
              <tr id="tr1" style="display:none">
                <td colspan="3">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  SUBDIRECTOR 2
                </td>
                <td colspan="2">
                  OTRO DATO
                </td>
                <td colspan="2">
                  NUMEROS
                </td>
                <td colspan="3">
                  OTRAS HORAS
                </td>

              </tr>
              <tr class="table-info" onclick="mostrar('tr2')">
                <td>
                  <input type="radio">
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
              </tr>
              <tr id="tr2" style="display:none">
                <td colspan="3">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  SUBDIRECTOR 2
                </td>
                <td colspan="2">
                  OTRO DATO
                </td>
                <td colspan="2">
                  NUMEROS
                </td>
                <td colspan="3">
                  OTRAS HORAS
                </td>

              </tr>
            </tbody>
          </table>
        </div>
        <div id="tab-fecha">
          <table class="table table-hover" style="font-size:12px;">
            <thead>
              <tr style="background-color:#999; color:#fcfbfb">
                <th>
                </th>
                <th>
                  Componente
                </th>
                <th>
                  Requerimiento
                </th>
                <th>
                  Versión
                </th>
                <th>
                  Dirección
                </th>
                <th>
                  Subdirección
                </th>
                <th>
                  Empresa
                </th>
                <th>
                  Tecnología
                </th>
                <th>
                  Nuevo/Modificado
                </th>
                <th>
                  Modif.
                </th>
                <th>
                  Dudas
                </th>
                <th>
                  Errores
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-info" onclick="mostrar('tr1')">
                <td>
                  <input type="radio">
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
              </tr>
              <tr id="tr1" style="display:none">
                <td colspan="3">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  SUBDIRECTOR 2
                </td>
                <td colspan="2">
                  OTRO DATO
                </td>
                <td colspan="2">
                  NUMEROS
                </td>
                <td colspan="3">
                  OTRAS HORAS
                </td>

              </tr>
            </tbody>
          </table>
        </div>
        <div id="tab-cierre">
          <table class="table table-hover" style="font-size:12px;">
            <thead>
              <tr style="background-color:#999; color:#fcfbfb">
                <th>
                </th>
                <th>
                  Componente
                </th>
                <th>
                  Requerimiento
                </th>
                <th>
                  Versión
                </th>
                <th>
                  Dirección
                </th>
                <th>
                  Subdirección
                </th>
                <th>
                  Empresa
                </th>
                <th>
                  Tecnología
                </th>
                <th>
                  Nuevo/Modificado
                </th>
                <th>
                  Modif.
                </th>
                <th>
                  Dudas
                </th>
                <th>
                  Errores
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-info" onclick="mostrar('tr1')">
                <td>
                  <input type="radio">
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
                <td>
                  CONTENIDO
                </td>
              </tr>
              <tr id="tr1" style="display:none">
                <td colspan="3">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  DIRECCION 2
                </td>
                <td colspan="2">
                  SUBDIRECTOR 2
                </td>
                <td colspan="2">
                  OTRO DATO
                </td>
                <td colspan="2">
                  NUMEROS
                </td>
                <td colspan="3">
                  OTRAS HORAS
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- .// row -->

    <div class="row buttons" th:if="${not #lists.isEmpty(components) or components != null}">
      <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-primary">Modificar</button>
        <button type="button" class="btn btn-primary">Alta</button>
      </div>
    </div><!-- .// row -->
  </div><!-- .// div.container -->

  <footer th:replace="~{layout/footer2 :: footer }"></footer>
</body>

<div th:replace="~{layout/footer2 :: scripts }"></div>
<script type="text/javascript" th:src="@{/js/fabrica/busqueda_componentes_new.js}"></script>

</html>