<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="~{layout/mainHeader :: head ('Componentes')}"></head>

<body>
  <header th:replace="~{layout/mainHeader :: header }"></header>
  <link rel="stylesheet" type="text/css" th:href="@{/css/fabrica/busqueda_componentes.css}">

  <div class="container">

    

    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="h2-title-content">Componentes</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 subtitle-content">Criterios de Búsqueda</div>
    </div>
    <div class="row">
    
      <div class="col-xs-12">
        <form id="searchForm" name="searchForm" method="GET">
          <!-- 
            text : componentName
            text : requirementName
            text : componentVersion
            select : principalId
            select : subPrincipalId
            select : companyId
            select : technologyId
            select : typologyNewComponent
            select : statusId
            text : componentDesignRealDeliverDate
            text : componentPreviewDeliverDate
            select : startProductId
            text : componentPossibleDeliverDate
            text : componentRealDeliverDate
            select : finalProductId
            select : typologyStartSeverity
            text : typologyStartSeverityHours
            select : statusTypologyId
            select : typologyFinalSeverity
            text : typologyFinalSeverityHours
          -->
        
          <input type="hidden" name="principalId" id="principalId" value="" />
          <input type="hidden" name="subPrincipalId" id="subPrincipalId" value="" />
          <input type="hidden" name="companyId" id="companyId" value="" />
          <input type="hidden" name="technologyId" id="technologyId" value="" />
          <input type="hidden" name="typologyNewComponent" id="typologyNewComponent" value="" />
          <input type="hidden" name="statusId" id="statusId" value="" />
          <input type="hidden" name="startProductId" id="startProductId" value="" />
          <input type="hidden" name="finalProductId" id="finalProductId" value="" />
          <!-- <input type="hidden" name="typologyStartSeverity" id="typologyStartSeverity" value="" /> -->
          <input type="hidden" name="statusTypologyId" id="statusTypologyId" value="" />
          <!-- <input type="hidden" name="typologyFinalSeverity" id="typologyFinalSeverity" value="" /> -->
          
          <div class="row">
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc-group-componentName">
                <input type="text" class="mdc-text-field__input" name="componentName" id="componentName" maxlength="30" />
                <label class="mdc-text-field__label">Componente</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc-group-requirementName">
                <input type="text" class="mdc-text-field__input" name="requirementName" id="requirementName" maxlength="30" />
                <label class="mdc-text-field__label">Requerimiento</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc-group-componentVersion">
                <input type="text" class="mdc-text-field__input" name="componentVersion" id="componentVersion" maxlength="9" />
                <label class="mdc-text-field__label">Versión</label>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-4">
              <div id="slct_direccion" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Dirección</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="dir : ${principals}" th:id="${dir.levelId}" th:text="${dir.levelName}" >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_subidreccion" class="mdc-select mdc-select--disabled" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface" tabindex="0">
                  <div class="mdc-select__label">Subdirección</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_empresa" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Empresa</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="company : ${companies}" th:id="${company.companyId}" th:text="${company.companyName}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div id="slct_tecnologia" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Tecnología</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_nuevo_modificado" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Nuevo/Modificado</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" id="0">NUEVO</li>
                    <li class="mdc-list-item" role="option" tabindex="1" id="1">MODIFICADO</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_estado" class="mdc-select" role="listbox">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Estado</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="estatus : ${componentStatus}" th:value="${estatus.statusId}" th:text="${estatus.statusName}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="dog1">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc-group-componentDesignRealDeliverDate">
                  <input type="text" class="mdc-text-field__input" name="componentDesignRealDeliverDate" id="componentDesignRealDeliverDate" style="z-index: 100000;" />
                  <label class="mdc-text-field__label">F. Real CGF > Fact. Diseño</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="dog1">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc-group-componentPreviewDeliverDate">
                  <input type="text" class="mdc-text-field__input" name="componentPreviewDeliverDate" id="componentPreviewDeliverDate" />
                  <label class="mdc-text-field__label">F. Prevista Fact. > CGF Software</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_tipologia_inicial" class="mdc-select" role="listbox">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Tipología Inicial</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="tipIni : ${tipologiaNewCmb}" th:id="${tipIni.typologyId}" th:text="${tipIni.product.productId}"
                      th:data-severity="${tipIni.typologySeverity}" th:data-hours="${tipIni.typologySeverityHours}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="dog1">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc-group-componentPossibleDeliverDate">
                  <input type="text" class="mdc-text-field__input" name="componentPossibleDeliverDate" id="componentPossibleDeliverDate" />
                  <label class="mdc-text-field__label">F. Negociada Fact. > CGF Software</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="dog1">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" id="mdc-group-componentRealDeliverDate">
                  <input type="text" class="mdc-text-field__input" name="componentRealDeliverDate" id="componentRealDeliverDate" />
                  <label class="mdc-text-field__label">F. Real Fact. > CGF Software</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_tipologia_final" class="mdc-select" role="listbox">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Tipología Final</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="tipFin : ${tipologiaModCmb}" th:id="${tipFin.typologyId}" th:text="${tipFin.product.productId}"
                      th:data-severity="${tipFin.typologySeverity}" th:data-hours="${tipFin.typologySeverityHours}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="mdc-text-field mdc-text-field--disabled" data-mdc-auto-init="MDCTextField" id="mdc-group-typologyStartSeverity">
                <input type="text" class="mdc-text-field__input" name="typologyStartSeverity" id="typologyStartSeverity" readonly value="">
                <label class="mdc-text-field__label">Dificultad Inicial</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field mdc-text-field--disabled" data-mdc-auto-init="MDCTextField" id="mdc-group-typologyStartSeverityHours">
                <input type="text" class="mdc-text-field__input" name="typologyStartSeverityHours" id="typologyStartSeverityHours" readonly value="" />
                <label class="mdc-text-field__label">Horas Inciales</label>
              </div>
            </div>
            <div class="col-md-4">
              <div id="slct_estado_tipificado" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                  <div class="mdc-select__label">Estado Tipif.</div>
                  <div class="mdc-select__selected-text"></div>
                  <div class="mdc-select__bottom-line"></div>
                </div>
                <div class="mdc-menu mdc-select__menu">
                  <ul class="mdc-list mdc-menu__items">
                    <li class="mdc-list-item" role="option" tabindex="0" 
                      th:each="typStatus : ${typingStatus}" th:id="${typStatus.statusId}" th:text="${typStatus.statusName}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="mdc-text-field mdc-text-field--disabled" data-mdc-auto-init="MDCTextField" id="mdc-group-typologyFinalSeverity">
                <input type="text" class="mdc-text-field__input" name="typologyFinalSeverity" id="typologyFinalSeverity" readonly value="" />
                <label class="mdc-text-field__label">Dificultad Final</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mdc-text-field mdc-text-field--disabled" data-mdc-auto-init="MDCTextField" id="mdc-group-typologyFinalSeverityHours">
                <input type="text" class="mdc-text-field__input" name="typologyFinalSeverityHours" id="typologyFinalSeverityHours" readonly value="" />
                <label class="mdc-text-field__label">Horas Finales</label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- .// row -->

    <div class="row buttons">
      <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-primary" id="btn-submit">Buscar</button>
        <button type="button" class="btn btn-primary" id="btn-clear">Limpiar</button>
      </div>
    </div> <!-- .// row -->

    <div class="row" id="row-title-results" style="display:none;" >
      <div class="col-md-12 subtitle-content">Resultados de Búsqueda</div>
    </div> <!-- .// row -->

    <div class="row" id="row-content-results" style="display:none;" >
      <div id="tabs">
        <ul>
          <li>
            <a href="#tab-componentes">Componentes</a>
          </li>
          <li>
            <a href="#tab-fecha">Fecha</a>
          </li>
          <li>
            <a href="#tab-cierre">Cierre</a>
          </li>
        </ul>
        <div id="tab-componentes">
          <table class="table table-hover" style="font-size:12px;">
            <thead>
              <tr style="background-color:#999; color:#fcfbfb">
                <th></th>
                <th>Componente</th>
                <th>Requerimiento</th>
                <th>Versión</th>
                <th>Dirección</th>
                <th>Subdirección</th>
                <th>Empresa</th>
                <th>Tecnología</th>
                <th>Nuevo/<br />Modificado</th>
                <th>Modif.</th>
                <th>Dudas</th>
                <th>Incidencias</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div id="tab-fecha">
          <table class="table table-hover" style="font-size:12px;">
            <thead>
              <tr style="background-color:#999; color:#fcfbfb">
                <th>Componente</th>
                <th>Requerimiento</th>
                <th>F. Real CGF -> Fact. Diseño</th>
                <th>F. Prev. Fact. > CGF Software</th>
                <th>F. Neg. Fact. > CGF Software</th>
                <th>F. Real Fact. -> CGF Software</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-4 col-md-offset-4"><button class="btn btn-primary" id="update-dates" >Actualizar</button></div>
            <div class="col-md-4"><button class="btn btn-primary" id="update-all-dates" disabled="disabled">Actualizar Todos</button></div>
          </div>
        </div>
        <div id="tab-cierre">
          <table class="table table-hover" style="font-size:12px;">
            <thead>
              <tr style="background-color:#999; color:#fcfbfb">
                <th>Componente</th>
                <th>Requerimiento</th>
                <th style='width:90px'>Tip. Final</th>
                <th style='width:85px'>Dif. Final</th>
                <th style='width:85px'>Costo Final</th>
                <th style='width:85px'>Horas Finales</th>
                <th>Comentarios</th>
                <th>Estado Tipif.</th>
                <th>Facturar(S/N)</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12 text-center"><button class="btn btn-primary" id="update-closure">Actualizar</button></div>
          </div>
        </div>
      </div>
    </div><!-- .// row -->
  </div><!-- .// div.container -->

  <footer th:replace="~{layout/footer2 :: footer }"></footer>
</body>

<div th:replace="~{layout/footer2 :: scripts }"></div>
<script type="text/javascript" th:src="@{/js/fabrica/busqueda_componentes.js}"></script>

</html>