<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="~{layout/mainHeader :: head ('Alta de Incidencia')}"></head>

<body>

<header th:replace="~{layout/mainHeader :: header }"></header>

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="h2-title-content">Modificación de Incidencia</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 subtitle-content">Datos Componente</div>
    </div>

            <table class="col-md-12" >
                <tr>
                    <td class="col-md-4" align="center">
                        <div id="nombre-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input disabled="disabled" th:value="${issue.component.componentName}"  type="text" class="mdc-text-field__input mdc-text-field--disabled" id="demo-input">
                            <label for="demo-input" class="mdc-text-field__label">Nombre de Componente</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="direccion-js-text" class="mdc-text-field"   data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input type="text" class="mdc-text-field__input mdc-text-field--disabled"
                                   style="border-bottom-color:rgba(28, 59, 224, 0.5)" value="" readonly="readonly"
                                   th:each="principals:${principals}"
                                   th:object="${principals}"
                                   th:if="${principals.levelId} == ${issue.component.requirement.level.levelSuperior.levelId}"
                                   th:value="${principals.levelName}">


                            <!--<input disabled="disabled" th:value="${componentData.requirement.level.levelName}"  type="text" required class="mdc-text-field__input"  id="demo-input">-->
                            <label for="demo-input" class="mdc-text-field__label">Dirección</label>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="Subdireccion-js-text" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input th:value="${issue.component.requirement.level.levelName}" type="text" class="mdc-text-field__input mdc-text-field--disabled" id="demo-input">
                            <label for="demo-input" class="mdc-text-field__label">Subdirección</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <div id="Version-js-text" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input disabled="disabled" th:value="${issue.component.componentVersion}" type="text" class="mdc-text-field__input mdc-text-field--disabled" id="version">
                            <label for="demo-input" class="mdc-text-field__label">Versión</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="Requerimiento" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input disabled="disabled" th:value="${issue.component.requirement.requirementName}" type="text" class="mdc-text-field__input mdc-text-field--disabled" id="requerimiento">
                            <label for="demo-input" class="mdc-text-field__label">Requerimiento</label>
                        </div>
                    </td>
                    <td class="col-md-4" align="center">
                        <div id="Tecnologia" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                            <input disabled="disabled" th:value="${issue.component.requirement.technology.technologyName}" type="text" class="mdc-text-field__input mdc-text-field--disabled" id="tecnologia">
                            <label for="demo-input" class="mdc-text-field__label">Tecnología</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" align="center">
                        <div class="dog1">
                            <input disabled="disabled" th:value="${issue.component.componentUploadDate}" type='hidden' class="mdc-text-field__input"  row="2" id='datetimepicker' />
                            <div id="fechaAlta-js-text" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input disabled="disabled" th:value="${issue.component.componentUploadDate}" type='text' class="mdc-text-field__input mdc-text-field--disabled"  row="2" id='datetimepickerformat' />
                                <label for="demo-input" class="mdc-text-field__label">Fecha de Alta</label>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
    <div class="row">
        <div class="col-md-12 subtitle-content">Datos de Incidencia</div>
    </div>
                <form th:action="@{/issues}" th:object="${issue}" method="post">

                    <input id="compon" type="hidden"  th:value="${issue.component.componentId}">
                    <input id="hidden-componente" type="hidden"  th:value="${issue.component.componentId}">
                    <input id="hidden-envcomponente" type="hidden" required th:field="*{component.componentId}" >
                    <input id="issueId" type="hidden" required th:field="*{issueId}" >
                    <input id="datecreati" type="hidden" required th:field="*{issueUploadDate}" >
                    <input id="estado-incident" type="hidden" required th:field="*{status.statusId}" >

                    <table class="col-md-12">
                    <tr style="height:72px">
                        <td class="col-md-4" align="center" style="height:72px">
                            <input id="hidden-prioridad" type="text" value="" required th:field="*{priority.priorityId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">

                            <div id="Prioridad-text" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input th:field="*{priority.priorityName}" type="text" class="mdc-text-field__input mdc-text-field--disabled" id="Prioridad-input">
                                <label for="demo-input" class="mdc-text-field__label">Prioridad</label>
                            </div>

                            <div id="prioridad" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                    <div class="mdc-select__label">Prioridad*</div>
                                    <div class="mdc-select__selected-text" id="prioridad-sel-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3">
                                    <ul class="mdc-list mdc-menu__items" id="prioridad-select">
                                        <li class="mdc-list-item" role="option" tabindex="0"></li>
                                    </ul>
                                </div>
                            </div>

                        </td>
                        <td class="col-md-4" align="center">
                            <input id="peticionario-hid" type="text"  required value="" th:field="*{userSender.userInternalId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;" />
                            <div id="Peticionario" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input  th:field="*{userSender.userInternalId}" type="text" class="mdc-text-field__input mdc-text-field--disabled" id="tecnologia">
                                <label for="demo-input" class="mdc-text-field__label">Usuario Peticionario</label>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <input id="Origen-js-select2" type="text"  required value="" th:field="*{origin.originId}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;" />

                            <div id="Origen" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:90%">
                                <input th:field="*{origin.originName}" type="text" class="mdc-text-field__input mdc-text-field--disabled" id="Origen-input">
                                <label for="demo-input" class="mdc-text-field__label">Origen</label>
                            </div>

                            <div id="Origen-js-select"  class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                                    <div class="mdc-select__label">Origen*</div>
                                    <div id="Origen-sel-text" class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items" id="Origen-select">
                                        <li class="mdc-list-item" role="option" tabindex="0"></li>
                                    </ul>
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr style="height:72px">
                        <td class="col-md-4" align="center">
                            <input id="hidden-estado" type="text" th:field="*{issueFixByDyD}" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">

                            <div  id="incidencia-estado-js-text" class="mdc-select-disabled" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:97%">
                                <input type="text" value="" class="mdc-text-field__input mdc-text-field--disabled" id="incidencia-estado-js-text2">
                                <label for="demo-input" class="mdc-text-field__label">Incidencia ya Resuelta por DyD:</label>
                            </div>

                            <div id="incidencia-js-select" class="mdc-select" role="listbox" style="background-color:#F4F4F4; width:90%">
                                <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
                                    <div class="mdc-select__label">Incidencia ya Resuelta por DyD:</div>
                                    <div class="mdc-select__selected-text"></div>
                                    <div class="mdc-select__bottom-line"></div>
                                </div>
                                <div class="mdc-menu mdc-select__menu col-md-3" >
                                    <ul class="mdc-list mdc-menu__items">
                                        <li class="mdc-list-item" th:id="SI"  role="option" th:text="SI"></li>
                                        <li class="mdc-list-item" th:id="NO"  role="option" th:text="NO"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                </table>

                    <input id="desfijo" type="hidden" required th:field="*{issueInitialDescription}" >
                    <table class="col-md-12" >
                        <tr style="height:72px">
                            <td class="col-md-4" align="center">
                                <div  id="descripcion-js-text" class="mdc-select-disabled" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:97%">
                                    <input type="text" th:value="*{issueInitialDescription}" class="mdc-text-field__input mdc-text-field--disabled" id="descripcion">
                                    <label for="demo-input" class="mdc-text-field__label">Descripción DyD</label>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <input id="desfijofabrica" type="hidden" required th:field="*{issueInitialFixDescription}" >
                    <table class="col-md-12" >
                        <tr style="height:72px">
                            <td class="col-md-4" align="center">
                                <div  id="descripcion-fabrica-js-text" align="right"  class="mdc-select-disabled" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:97%; text-align:right;">
                                    <input type="text" align="right" th:value="*{issueInitialFixDescription}" class="mdc-text-field__input mdc-text-field--disabled" id="descripcionfabrica" style="text-align:right;">
                                    <label for="demo-input" align="right" class="mdc-text-field__label">Descripción fabria</label>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table class="col-md-12" id="tableUser">
                        <tr style="height:72px">
                            <td class="col-md-4" align="center" >
                                <div  id="descripcion-js-textuser" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:97%">
                                    <input type="text" maxlength="200" pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" onchange="rojelia(); rojeliatama()" class="mdc-text-field__input" id="descripcion2">
                                    <label for="demo-input" class="mdc-text-field__label" >Descripción agregar user</label>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table class="col-md-12" id="tablefabrica">
                        <tr style="height:72px">
                            <td class="col-md-4" align="center">
                                <div  id="descripcion-js-textfabrica" class="mdc-text-field" data-mdc-auto-init="MDCTextField" style="background-color:#F4F4F4; width:97%">
                                    <input type="text" maxlength="200" pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+" onchange="rojeliafabrica(); rojeliatamafabrica()" class="mdc-text-field__input" id="descripcion2fabrica">
                                    <label for="demo-input" class="mdc-text-field__label" >Descripción agregar fabrica</label>
                                </div>
                            </td>
                        </tr>
                    </table>

                <table class="col-md-12" >
                    <tr style="height:72px">
                        <td class="col-md-4" align="center">
                            <button class="btn btn-primary">descargar archivo</button>
                        </td>

                        <!--<td class="col-md-4" align="center">
                            <h6 onclick="dyd()" >dyd</h6> <h6 onclick="fabrica()" >fabrica</h6>
                        </td>
                        <td class="col-md-4" align="center">
                            <h6 onclick="gestor()" >gestor</h6> <h6 onclick="adminin()" >admini</h6>
                        </td>-->
                        <td>
                            <input id="usuario2" type="hidden" onchange="user()" value="1">
                            <input id="usuario" type="text" onchange="user2()" value="1" style="width: 1px; opacity: 0;height: 1px;margin: -3px;padding: 0px;">
                        </td>
                    </tr>
                </table>

                <table class="col-md-12" >
                    <tr>
                        <td class="col-md-4" align="center">
                           <button type="submit" id="guardar-btn" class="btn btn-primary">Guardar</button>
                           <button type="button" id="cancelar-btn" class="btn btn-primary">Cancelar</button>
                        </td>
                        <td class="col-md-4" align="center">
                            <div  id="boton-cerrar">
                                <button id="cerrar-init" onclick="addButtonCerrar()" class="btn btn-primary"> Cerrar Incidencia</button>
                            </div>
                        </td>
                        <td class="col-md-4" align="center">
                            <div id="boton-abrir-duda">
                                <button onclick="addButtonAbrir()" class="btn btn-primary">Abrir Incidencia</button>
                            </div>
                        </td>
                    </tr>
                </table>
    </form>
</div>

</body>

<div th:replace="~{layout/footer2 :: scripts }"></div>


<!--Footer que debe ir en todas las ventanas-->
<div th:replace="layout/footer :: FooterPrincipal"></div>
<script type="text/javascript" th:src="@{../js/fabrica/modifica-error.js}"></script>
<script type="text/javascript" th:src="@{../js/fabrica/global.js}"></script>

<!--<script>mdc.autoInit()</script>-->
<script>
    demoReady(function () {
        init();
        initGlobal();
    });




</script>
<script>mdc.autoInit()</script>
<style rel="stylesheet">
    .mdc-text-field__input {
        border-bottom-color: rgba(15, 50, 242, 0.5);
    }
</style>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
</script>
</html>