<!DOCTYPE html>
<html lang="es-mx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>

    <head th:replace="~{layout/mainHeader :: head ('Modificar Requerimientos')}"></head>

    <script type="text/javascript" th:src="@{/js/fabrica/modificar-requerimiento.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fabrica/modificar-requerimiento.css}">

</head>
<body>

<header th:replace="~{layout/mainHeader :: header }"></header>

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12" align="center" style="font-size:30px; font-family:BBVA Web Book">Modificar Requerimiento</div>
    </div>
    <br>
    <div class="col-md-12 subtitle-content" >Datos Generales</div>

    <form th:object="${requirement}" th:action="@{/requirements}" method="post" id="form">
        <!-- HIDDEN FIELDS -->
        <input type="hidden" th:field="*{requirementId}">
        <input type="hidden" th:field="*{requirementTotalHours}">
        <input type="hidden" th:field="*{requirementBilledHours}">
        <input type="hidden" th:field="*{requirementNoBilledHours}">

        <input type="hidden" th:field="*{requirementDateUpload}" style="display: none">
        <input type="hidden" th:field="*{requirementStartDate}">
        <input type="hidden" th:field="*{requirementEndDate}">

        <input type="hidden" th:field="*{requirementCanBilled}">

        <input type="hidden" th:field="*{level.levelSuperior.levelId}">
        <input type="hidden" th:field="*{level.levelId}">
        <input type="hidden" th:field="*{user.userInternalId}">
        <input type="hidden" th:field="*{area.areaId}">
        <input type="hidden" th:field="*{userManager.userInternalId}">
        <input type="hidden" th:field="*{technology.technologyId}">
        <input type="hidden" th:field="*{application.applicationId}">
        <input type="hidden" th:field="*{channel.channelId}">
        <input type="hidden" th:field="*{company.companyId}">
        <input type="hidden" th:field="*{serviceType.serviceTypeId}">
        <input type="hidden" th:field="*{programIncrement.programIncrementId}">

        <input type="hidden" th:field="*{project.projectId}">
        <input type="hidden" th:field="*{project.methodology.methodologyId}">
        <input type="hidden" th:field="*{project.programIncrement.programIncrementId}">

        <input type="hidden" th:field="*{status.statusId}">
        <input type="hidden" th:field="*{requirementBilled}">

        <div class="row">

        <table class="col-md-12" style="z-index: 999 !important;">
        <tr>
            <td class="col-md-4" align="center">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                    <input type="text" maxlength="120" required pattern="[A-Za-z 0-9áéíóúñÁÉÍÓÚÑ]+"
                           th:field="*{requirementName}"
                           class="mdc-text-field__input">
                    <label class="mdc-text-field__label">Nombre de Requerimiento</label>
                </div>
            </td>
            <td class="col-md-4" align="center">
                <div id="principal" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Dirección</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu ">
                        <ul  class="mdc-list mdc-menu__items">
                            <li th:each="principal:${principals}" class="mdc-list-item"
                                th:attrappend="aria-selected=(${principal.levelId} == *{level.levelSuperior.levelId}) ? 'true'"
                                th:value="${principal.levelId}" role="option" th:text="${principal.levelName}"></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="col-md-4" align="center">

                <div id="subprincipal" class="mdc-select" role="listbox" >
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Subdirección</div>
                        <div class="mdc-select__selected-text" id="subdir-sel-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3">
                        <ul class="mdc-list mdc-menu__items" id="subdir-select">
                            <li class="mdc-list-item" role="option" tabindex="0"></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-4" align="center">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                    <input type="text" class="mdc-text-field__input mdc-text-field--disabled" id="subdir">
                    <label class="mdc-text-field__label mdc-text-field__label--float-above" id="subdir-label">Subdirector</label>
                </div>
            </td>
            <td class="col-md-4" align="center">
                <div id="responsible" class="mdc-select" role="listbox" >
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Responsable</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3" >
                        <ul class="mdc-list mdc-menu__items" id="responsibles-ul">
                        </ul>
                    </div>
                </div>

            </td>
            <td class="col-md-4" align="center">
                <div id="area" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Area de Atención</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3" >
                        <ul class="mdc-list mdc-menu__items">
                            <li th:each="area : ${areas}" class="mdc-list-item" role="option"
                                th:attrappend="aria-selected=(${area.areaId} == *{area.areaId}) ? 'true'"
                                th:value="${area.areaId}" th:text="${area.areaName}"></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-4" align="center">
                <div id="manager" class="mdc-select" role="listbox">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Gestor</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3" >
                        <ul class="mdc-list mdc-menu__items" id="managers-ul">

                        </ul>
                    </div>
                </div>
            </td>
            <td class="col-md-4" align="center">
                <div id="tech" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Tecnología</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3" >
                        <ul class="mdc-list mdc-menu__items">
                            <li th:each="technology : ${technologies}" class="mdc-list-item" role="option"
                                th:attrappend="aria-selected=(${technology.technologyId} == *{technology.technologyId}) ? 'true'"
                                th:value="${technology.technologyId}" th:text="${technology.technologyName}"></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="col-md-4" align="center">
                <div id="meth" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Tipo de Proyecto</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3" >
                        <ul class="mdc-list mdc-menu__items">
                            <li th:each="methodology : ${methodologies}" class="mdc-list-item" role="option"
                                th:attrappend="aria-selected=(${methodology.methodologyId} ==
                                *{project.methodology.methodologyId}) ? 'true'"
                                th:value="${methodology.methodologyId}" th:text="${methodology.methodologyName}"></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="height:72px">
            <td class="col-md-4" align="center">
                <div id="app" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Aplicación</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3" >
                        <ul class="mdc-list mdc-menu__items">
                            <li th:each="app : ${applications}" class="mdc-list-item" role="option"
                                th:attrappend="aria-selected=(${app.applicationId} == *{application.applicationId}) ? 'true'"
                                th:value="${app.applicationId}" th:text="${app.applicationName}"></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="col-md-4" align="center">
                <div id="channel" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Canal</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3" >
                        <ul class="mdc-list mdc-menu__items">
                            <li th:each="channel : ${channels}" class="mdc-list-item" role="option"
                                th:attrappend="aria-selected=(${channel.channelId} == *{channel.channelId}) ? 'true'"
                                th:value="${channel.channelId}" th:text="${channel.channelName}"></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="col-md-4" align="center">
                <div id="company" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Empresa</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3" >
                        <ul class="mdc-list mdc-menu__items">
                            <li th:each="company : ${companies}" class="mdc-list-item"
                                th:attrappend="aria-selected=(${company.companyId} == *{company.companyId}) ? 'true'"
                                th:value="${company.companyId}" role="option" th:text="${company.companyName}"></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="height:72px">
            <td class="col-md-4" align="center">

                <div id="service-type" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Tipo de Servicio</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3" >
                        <ul class="mdc-list mdc-menu__items">
                            <li th:each="serviceType : ${serviceTypes}" class="mdc-list-item" role="option"
                                th:attrappend="aria-selected=(${serviceType.serviceTypeId} ==
                                *{serviceType.serviceTypeId}) ? 'true'"
                                th:value="${serviceType.serviceTypeId}" th:text="${serviceType.serviceTypeName}"></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="col-md-4" align="center">
                <div id="pi" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Código PI</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3" >
                        <ul class="mdc-list mdc-menu__items">
                            <li th:each="pi : ${programIncrements}" class="mdc-list-item" role="option"
                                th:attrappend="aria-selected=(${pi.programIncrementId} ==
                                *{programIncrement.programIncrementId}) ? 'true'"
                                th:value="${pi.programIncrementId}" th:text="${pi.ProgramIncrementName}"></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="col-md-4" align="center">
                <div id="project" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Nombre del Proyecto</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3" >
                        <ul class="mdc-list mdc-menu__items">
                            <li th:each="proj : ${projects}" class="mdc-list-item" role="option"
                                th:id="${proj.projectId}"
                                th:attrappend="aria-selected=(${proj.projectId} == *{project.projectId} )? 'true'"
                                th:text="${ #strings.abbreviate(proj.projectName,35)}"></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-4" align="center">
                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                    <input type="number" maxlength="10" min="0" max="999999" step="0.1"
                           th:field="*{requirementHour}" class="mdc-text-field__input" >
                    <label class="mdc-text-field__label">Horas</label>
                </div>
            </td>
            <td class="col-md-4" align="center">
                <div id="status" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                        <div class="mdc-select__label mdc-select__label--float-above">Estado del Requerimiento</div>
                        <div class="mdc-select__selected-text"></div>
                        <div class="mdc-select__bottom-line"></div>
                    </div>
                    <div class="mdc-menu mdc-select__menu col-md-3" >
                        <ul class="mdc-list mdc-menu__items">
                            <li th:each="status : ${statusListRequeriment}" class="mdc-list-item"
                                th:attrappend="aria-selected=(${status.statusId} == *{status.statusId} )? 'true'"
                                th:value="${status.statusId}" role="option" th:text="${status.statusName}"></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="col-md-4" align="center">
                <div id="pep" class="mdc-text-field" data-mdc-auto-init="MDCTextField"
                     style="width: 56%; margin-right: 16px;">
                    <input type="text" th:value="*{(budgetRequirementsList.isEmpty()) ?
                    '' : budgetRequirementsList[0].budget.budgetName}"
                           class="mdc-text-field__input mdc-text-field--disabled">
                    <label class="mdc-text-field__label">PEP</label>
                </div>
                <a th:href="@{/budgets/assign/filters?requirementId=} + ${requirement.requirementId}"
                   class="btn btn-primary" style="vertical-align: text-bottom;" onclick="showHoldOn();">Asociar PEP</a>
            </td>
        </tr>
            <tr>
                <td class="col-md-4" align="center">
                    <div id="billed" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
                        <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0" >
                            <div class="mdc-select__label mdc-select__label--float-above">Facturado</div>
                            <div class="mdc-select__selected-text" th:text="*{requirementBilled ? 'Si' : 'No'}"></div>
                            <div class="mdc-select__bottom-line"></div>
                        </div>
                        <div class="mdc-menu mdc-select__menu col-md-3" >
                            <ul class="mdc-list mdc-menu__items">
                                <li value="1" class="mdc-list-item" role="option"
                                    th:attrappend="aria-selected=*{requirementBilled} ? 'true'" tabindex="0">
                                    Si
                                </li>
                                <li value="0" class="mdc-list-item" role="option"
                                    th:attrappend="aria-selected=*{!requirementBilled} ? 'true'" tabindex="0">
                                    No
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input type="text" class="mdc-text-field__input " id="datetimepicker1" />
                        <label class="mdc-text-field__label mdc-text-field__label--float-above">Fecha Prop. Inicial</label>
                    </div>
                </td>
                <td class="col-md-4" align="center">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input type="text" class="mdc-text-field__input " id="datetimepicker2" />
                        <label class="mdc-text-field__label mdc-text-field__label--float-above">Fecha Prop. Final</label>
                    </div>
                </td>
            </tr>
        </table>
        </div>

        <div class="row" style="margin-top: 48px;">
            <div class="col-md-4 col-md-offset-4" style="text-align: center;">
                <a th:href="@{/components/add?requirementId=} + ${requirementId}" on
                   class="btn btn-primary" onclick="showHoldOn();">Alta de Componente</a>
                <!--
                <a class="btn btn-primary" style="margin-left: 32px;">Carga masiva</a>
                -->
            </div>
        </div>

        <div class="row" style="margin-top: 60px; margin-bottom: 120px;">
            <div class="col-md-4 col-md-offset-4" style="text-align: center;">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a th:href="@{/requirements/filters}" onclick="showHoldOn()" class="btn btn-primary"
                   style="margin-left: 48px;">Cancelar</a>
            </div>
        </div>

    </form>
</div>

<footer th:replace="~{layout/footer2 :: footer }"></footer>

</body>

<div th:replace="~{layout/footer2 :: scripts }"></div>

<script>mdc.autoInit()</script>

</html>